## Intro

In [5]:
import pandas as pd
import re
import numpy as np
import seaborn as sns
sns.set_style("whitegrid")

import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.display.max_rows=100
pd.options.display.max_columns=100

In [6]:
scout_car = pd.read_json ('scout_car.json', lines = True)
df = scout_car.copy()
df.sample(3).T

,9524,801,943
url,https://www.autoscout24.com//offers/opel-corsa...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...
make_model,Opel Corsa,Audi A1,Audi A1
short_description,1.2 ENJOY +Airco+Cruise Control+Bluetooth,1.6 TDI 116 CV S tronic (172) FI,Sportback Design 1.4 TFSI Navi Einparkhilfe
body_type,Sedans,Sedans,Station wagon
price,9745,12999,21450
vat,VAT deductible,None,VAT deductible
km,"27,941 km","92,470 km","5,962 km"
registration,01/2018,09/2016,01/2018
prev_owner,1 previous owner,1 previous owner,1 previous owner
kW,NaN,NaN,NaN
hp,51 kW,85 kW,92 kW
Type,"[, Used, , Gasoline]","[, Used, , Diesel]","[, Used, , Super 95]"
Previous Owners,\n1\n,\n1\n,\n1\n
Next Inspection,NaN,NaN,"[\n01/2021\n, \n112 g CO2/km (comb)\n]"
Inspection new,NaN,NaN,NaN
Warranty,"[\n12 months\n, \nEuro 6\n]","[\n12 months\n, \n105 g CO2/km (comb)\n]","[\n36 months\n, \nEuro 6\n]"
Full Service,NaN,"[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]"
Non-smoking Vehicle,"[\n, \n]",NaN,NaN
null,[],[],[]
Make,\nOpel\n,\nAudi\n,\nAudi\n
Model,"[\n, Corsa, \n]","[\n, A1, \n]","[\n, A1, \n]"
Offer Number,[\n425163\n],NaN,[\n089388\n]
First Registration,"[\n, 2018, \n]","[\n, 2016, \n]","[\n, 2018, \n]"
Body Color,"[\n, Black, \n]","[\n, Blue, \n]","[\n, Blue, \n]"
Paint Type,[\nMetallic\n],[\nMetallic\n],[\nUni/basic\n]
Body Color Original,NaN,NaN,[\nScubablau Metallic\n]
Upholstery,"[\nCloth, Black\n]","[\nCloth, Black\n]","[\nCloth, Black\n]"
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Station wagon, \n]"
Nr. of Doors,[\n5\n],[\n3\n],[\n5\n]
Nr. of Seats,[\n5\n],[\n4\n],[\n5\n]
Model Code,NaN,NaN,[\n0588/BCW\n]
Gearing Type,"[\n, Manual, \n]","[\n, Semi-automatic, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,229 cc\n]","[\n1,598 cc\n]","[\n1,395 cc\n]"
Cylinders,[\n4\n],[\n4\n],[\n4\n]
Weight,NaN,"[\n1,250 kg\n]","[\n1,215 kg\n]"
Drive chain,NaN,NaN,[\nfront\n]
Fuel,"[\n, Gasoline, \n]","[\n, Diesel, \n]","[\n, Super 95, \n]"
Consumption,NaN,"[[4 l/100 km (comb)], [4.6 l/100 km (city)], [...","[[4.9 l/100 km (comb)], [6.2 l/100 km (city)],..."
CO2 Emission,"[[], [], []]",[\n105 g CO2/km (comb)\n],[\n112 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Cruise control, Electrical ...","[Air conditioning, Armrest, Leather steering w...","[Air conditioning, Armrest, Automatic climate ..."
\nEntertainment & Media\n,"[Bluetooth, CD player, MP3, On-board computer]","[Bluetooth, Hands-free equipment, MP3, On-boar...","[Bluetooth, CD player, Hands-free equipment, O..."
\nExtras\n,[Alloy wheels],[Alloy wheels],"[Alloy wheels, Cab or rented Car, Sport seats]"
\nSafety & Security\n,"[ABS, Central door lock, Driver-side airbag, E...","[Central door lock, Driver-side airbag, LED He...","[ABS, Central door lock, Daytime running light..."
description,[\nAlle DECAIGNY TWEEDEHANDS zijn gecertificee...,[],"[\n, Außenausstattung, beheizbare Außenspiegel..."
Emission Label,NaN,NaN,NaN
Gears,[\n5\n],[\n7\n],NaN
Country version,NaN,[\nItaly\n],NaN
Electricity consumption,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN
Availability,NaN,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN
Available from,NaN,NaN,NaN

In [7]:
#df2= df1[['description', 'Emission Label', 'Gears', 'Country version','Last Timing Belt Service Date']]

## Available from

In [8]:
df["Available from"].value_counts()

\n31/08/19\n    98
\n30/07/19\n    25
\n15/08/19\n    24
\n16/09/19\n    14
\n29/06/19\n    12
\n01/07/19\n    11
\n28/06/19\n    10
\n19/08/19\n     7
\n10/09/19\n     6
\n26/06/19\n     5
\n27/06/19\n     5
\n10/11/19\n     5
\n08/07/19\n     4
\n25/10/19\n     3
\n15/07/19\n     3
\n01/08/19\n     3
\n04/07/19\n     2
\n05/08/19\n     2
\n24/08/19\n     2
\n16/07/19\n     2
\n20/07/19\n     2
\n05/07/19\n     2
\n30/06/19\n     2
\n30/09/19\n     1
\n31/10/19\n     1
\n27/07/19\n     1
\n02/07/19\n     1
\n10/07/19\n     1
\n19/07/19\n     1
\n24/07/19\n     1
\n29/07/19\n     1
\n29/09/19\n     1
\n18/08/19\n     1
\n14/09/19\n     1
\n18/07/19\n     1
\n16/08/19\n     1
\n24/09/19\n     1
\n17/08/19\n     1
\n10/10/19\n     1
\n06/12/19\n     1
\n03/12/19\n     1
\n05/12/19\n     1
\n11/08/19\n     1
\n10/12/19\n     1
\n01/09/19\n     1
\n03/08/19\n     1
Name: Available from, dtype: int64

In [9]:
df[["Available_from_new"]] = df[["Available from"]].apply(lambda x: x.str.strip("\n") )

In [10]:
df[["Available_from_new"]].value_counts()

Available_from_new
31/08/19              98
30/07/19              25
15/08/19              24
16/09/19              14
29/06/19              12
01/07/19              11
28/06/19              10
19/08/19               7
10/09/19               6
27/06/19               5
10/11/19               5
26/06/19               5
08/07/19               4
25/10/19               3
01/08/19               3
15/07/19               3
24/08/19               2
16/07/19               2
04/07/19               2
05/07/19               2
20/07/19               2
05/08/19               2
30/06/19               2
03/08/19               1
27/07/19               1
29/07/19               1
29/09/19               1
02/07/19               1
30/09/19               1
01/09/19               1
24/09/19               1
18/08/19               1
24/07/19               1
19/07/19               1
18/07/19               1
17/08/19               1
16/08/19               1
03/12/19               1
14/09/19               1
11/08/19               1
10/12/19               1
10/10/19               1
10/07/19               1
06/12/19               1
05/12/19               1
31/10/19               1
dtype: int64

## Last Timing Belt Service Date

In [26]:
#df["Last Timing Belt Service Date"] != ["[\n05/2018\n, \nEuro 6\n]"] 
df["Last Timing Belt Service Date"].isnull().sum()

15903

In [23]:
def clean_list(x):
    try:
        x = str(x[0].strip("\n")).split("/")[1]
    except:
        pass
    return x

In [25]:
df["Last Timing Belt Service Date"].apply(clean_list).isnull().value_counts()

True     15903
False       16
Name: Last Timing Belt Service Date, dtype: int64

In [ ]:
#df[["Last Timing Belt Service Date"]] =="[\n05/2018\n, \nEuro 6\n]"
#df[["Last Timing Belt Service Date"]][\n05/2018\n, \nEuro 6\n]]
#df.loc["Last Timing Belt Service Date", "[\n05/2018\n, \nEuro 6\n]"]
#df[["Last Timing Belt Service Date"]].loc[[\n05/2018\n, \nEuro 6\n]]

## Availability

In [ ]:
df[["Availability_new"]]= df[["Availability"]].apply(lambda x: x.str.strip("\nin"))

In [ ]:
df["Availability_new"].value_counts()

 90 days from ordering     196
 120 days from ordering    182
 1 day from ordering        51
 5 days from ordering       35
 3 days from ordering       35
 180 days from ordering     24
 14 days from ordering      24
 7 days from ordering       20
 150 days from ordering     18
 2 days from ordering       16
 60 days from ordering      13
 42 days from ordering      10
 21 days from ordering       8
 4 days from ordering        2
 6 days from ordering        1
Name: Availability_new, dtype: int64

## Other Fuel Types

In [ ]:
df["Other Fuel Types"].isnull().sum() # Sütun içi boş olduğu için düşürecez

15039

## Last Service Date

In [ ]:
df["Last Service Date"].value_counts() # Sütun içi boş olduğu için düşürecez

## Electricity consumption

In [ ]:
df["Electricity consumption"].isna().sum() #drop baba drop

15782

## Country version

In [ ]:
df2["Country version"].value_counts()

[\nGermany\n]           4502
[\nItaly\n]             1038
[\nEuropean Union\n]     507
[\nNetherlands\n]        464
[\nSpain\n]              325
[\nBelgium\n]            314
[\nAustria\n]            208
[\nCzech Republic\n]      52
[\nPoland\n]              49
[\nFrance\n]              38
[\nDenmark\n]             33
[\nHungary\n]             28
[\nJapan\n]                8
[\nSlovakia\n]             4
[\nCroatia\n]              4
[\nSweden\n]               3
[\nRomania\n]              2
[\nBulgaria\n]             2
[\nLuxembourg\n]           1
[\nSwitzerland\n]          1
[\nSlovenia\n]             1
[\nEgypt\n]                1
[\nSerbia\n]               1
Name: Country version, dtype: int64

In [ ]:
df["Country_version"] = df2["Country version"].str[0].str.strip("\n")

In [ ]:
df["Country_version"].value_counts()

Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: Country_version, dtype: int64

## Gears

In [ ]:
df2["Gears"].value_counts()

[\n6\n]     5822
[\n5\n]     3239
[\n7\n]     1908
[\n8\n]      224
[\n9\n]        6
[\n1\n]        2
[\n3\n]        2
[\n4\n]        2
[\n2\n]        1
[\n50\n]       1
Name: Gears, dtype: int64

In [ ]:
df["Gears"] = df2.Gears.str[0].str.strip("\n")

In [ ]:
df["Gears"] = df["Gears"].astype(float)

In [ ]:
df["Gears"].value_counts(dropna=False)

6.000     5822
NaN       4712
5.000     3239
7.000     1908
8.000      224
9.000        6
1.000        2
3.000        2
4.000        2
2.000        1
50.000       1
Name: Gears, dtype: int64

## Emission Label

In [ ]:
df2["Emission Label"].value_counts()

[\n4 (Green)\n]         3553
[\n1 (No sticker)\n]     381
[[], [], []]              40
[\n5 (Blue)\n]             8
[\n3 (Yellow)\n]           2
[\n2 (Red)\n]              1
Name: Emission Label, dtype: int64

In [ ]:
df["Emission_Label"] = df2["Emission Label"].str[0].str.split().str[1].str.strip("()")

In [ ]:
df["Emission_Label"].value_counts()

Green     3553
No         381
Blue         8
Yellow       2
Red          1
Name: Emission_Label, dtype: int64

## description

In [ ]:

df["description"].value_counts() 
# short description ile aynı değerleri içeriyor.
#Yukarıda ki bilgiye ek olarak ben almanca bilmiyorum :(
#Bunun için bu sütunu eledim.

[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        636
[\n, \n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   30
[\n, Fahrzeugbeschreibung,  Sichern Sie sich diesen Renault Clio 1.6 TCE Energy Sport Trophy zum Top-Preis inklusive dem , AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  1.Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt,  , Highlights,  , Audio-Navigationssystem R-Link Evolution mit Touchscreen und Carminat TomTom,  , Sportsitze ,  , Sportfahrwerk,  , Scheinwerfer Full-LED , Komfort,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Klimaanlage,  , Einparkhilfe hinten,  , Multifunktionslenkrad (Sport/Leder) mit Schaltwippen/-tasten ,  , Fensterheber elektr. mit Impulsgeber links/rechts vorn,  , Zentralverriegelung / Startanlage Handsfree Entry & Drive ,  , Berganfahr-Assistent (HSA) , Multimedia,  , Audiosystem: Radio R & GO (Bluetooth, DAB-Tuner),  , Bordcomputer,  , Freisprecheinrichtung Bluetooth ,  , USB-Anschluss inkl. AUX-IN-Anschluss (Plug & Music) , Licht und Sicht,  , Außenspiegel elektr. verstell- und heizbar ,  , Licht- und Regensensor ,  , Tagfahrlicht LED ,  , Nebelscheinwerfer LED ,  , Coming-Home-Lichtfunktion ,  , Heckleuchten LED , Sicherheit,  , Isofix-Aufnahmen für Kindersitz ,  , Seitenairbag vorn,  , Wegfahrsperre,  , Differentialsperre,  , Bremsassistent ,  , Elektron. Stabilitäts-Programm (ESP),  , Anti-Blockier-System (ABS),  , Anti-Submarining-Airbag im Fond,  , Airbag Fahrer-/Beifahrerseite ,  , Differentialsperre ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , Antischlupfregelung (ASR) , Weiteres,  , Start/Stop-Anlage ,  , Servolenkung geschwindigkeitsabhängig,  , R.S. Drive (Fahrmodusschalter) ,  , Gepäckraumabdeckung / Rollo ,  , Heckdiffusor ,  , LM-Felgen ,  , Heckspoiler (Renault Sport) ,  , Pedale Aluminium ,  , Energierückgewinnung (Energy Smart Management) , ...]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              27
[\nPosibilidad de prueba del vehículo hasta 5 días. Consultar condiciones. PVP para particulares. Varias unidades y colores disponibles. Precios publicados para vehículos industriales (furgonetas) válidos para compradores autónomos o empresas, consultar condiciones para particulares. Las imágenes y kilómetros pueden no corresponder con el modelo anunciado. Para confirmar póngase en contacto con nuestro departamento comercial. Consulta las excepcionales condiciones de financiación que tenemos disponibles. Precio de venta final IVA y gastos de transferencia incluidos. Horario de atención al cliente: Lunes a Viernes de 09:00 a 18:00.\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          27
[\nSichern Sie sich diesen RENAULT CLIO 1.2 LIMITED zum Top-Preis inklusive dem, AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  2.Hand, mindestens 12 Monate gültige HU und AU, deutsche Ausführung, unfallfrei ,  , Highlights,  , Audio-Navigationssystem mit Touchscreen-Farbdisplay, Komfort,  , Klimaanlage ,  , Multifunktionslenkrad in Leder ,  , Berganfahr-Assistent (HSA),  , Fensterheber elektrisch vorn ,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Heckscheibe heizbar ,  , Sitz vorn links höhenverstellbar,  , Sitz vorn rechts umklappbar ,  , Stau-/Ablagefach im Laderaumboden ,  , Zentralverriegelung mit Fernbedienung , Multimedia,  , Radio R&GO,  , Bluetooth Freisprechanlage ,  , USB-/AUX-Schnittstelle ,  , Bordcomputer,  , Licht und Sicht,  , Tagfahrlicht LED ,  , Außenspiegel elektrisch verstell- und heizbar, Sicherheit,  , Airbag für Fahrer und Beifahrer,  , Beifahrerairbag deaktivierbar ,  , Seitenairbags vorn ,  , Kopfairbagsystem,  , Anti-Blockier-System (ABS),  , Elektronische Bremskraftverteilung ,  , Elektronische Stabilitäts-Programm (ESP) ,  , Reifen-Reparaturkit ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , ISOFIX Kindersitzverankerung , Weiteres,  , Dachreling silber ,  , Look-Paket Chrom (außen) ,  , Look-Paket Grau (innen) ,  , R&GO-Paket ,  , Style-Paket ,  Ihr , AUTOHERO-RUNDUM-SORGLOS-PAKET,  beinhaltet:, Kostenlose Lieferung in Ihre Nähe, Optische & technische Aufbereitung, Mindestens 12 Monate gültige HU und AU, 1-Jahr-Premium-Garantie, Zulassung inklusive , 14-Tage-Rückgaberecht, Markenunabhängige Inzahlungnahme , Individuelle Finanzierungen zu fairen Konditionen,  , HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:, :, https://www.autohero.com/de/renault-clio-1-2-limited/id/30f99516-8785-47e7-a4a3-6cdac4d8e633/,  , Haftungsausschluss, :, Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten.\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                27
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
[\nPratica 67374, Airbag fullsize per conducente e passeggero, Alzacristalli elettrici ant. e post. con funzione attivaz. a pressione, Assetto dinamico, Audi drive select, Inserti in micrometallic argento, Kit riparazione pneumatici, Pacchetto di navigazione, Piano di copertura del vano bagagli estraibile, Presa AUX-IN, Proiettori allo Xenon Plus con reg. aut. prof. fari, Lavafari, Rivestimenti dei sedili in tessuto, Serbatoio AdBlue, Sistema controllo pressione pneumatici, Sistema di ancoraggio ISOFIX e 3° punto di ancoraggio Top Tether sui sedili post. laterali, Sistema di informazioni per il conducente con display monocromatico, Tappetini anteriori e posteriori, Versione Business, Volante sportivo multifunzionale in pelle 3 razze, ABS, EBV (Ripartitore elettronico della forza frenante), Airbag laterali anteriori integrati negli schienali dei sedili, Airbag per la testa, Airbag per le ginocchia (lato conducente), Appoggiatesta anteriori (2) e posteriori (3) regolabili, Radio MMI plus, Interfaccia Bluetooth, Appoggiabraccia centrale anteriore, Cambio manuale, Cerchi in lega 7 J x 16" a 5 razze a stella, Chiusura centralizzata con telecomando, Regolatore di velocità, ESC - Sistema elettronico di controllo della stabilizzazione con bloccaggio trasversale elettronico, ASR - Dispositivo di controllo della trazione, EDS (Dispositivo antislittamento in partenza), Filtro anti particolato, Cinture di sicurezza con pretensionatore, Specchietti retrovisivi esterni riscaldabili e ripiegabili elettricamente, Schienale del sedile posteriore ribaltabile (divisibile in rapporto 40:60 o ribaltabile completam.), Sistema di ausilio al parcheggio posteriore, Servosterzo elettromeccanico, Tergilunotto\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1

## Safety & Security

In [ ]:
 df["\nSafety & Security\n"].sample()

9159    [ABS, Central door lock, Driver-side airbag, E...
Name: \nSafety & Security\n, dtype: object

In [ ]:
 df["\nSafety & Security\n"].isnull().value_counts()

False    14937
True       982
Name: \nSafety & Security\n, dtype: int64

In [ ]:
# Araçların Teknik güvenlik ekipman özelliklerini içerdiği için fiyatlandırmada etkili olabilir
# Şimdilik sadece sütun adı değiştirip, sonra detaylı bakılacaktır. 


df["Safety & Security"] = df["\nSafety & Security\n"]

In [ ]:
# Gerekli bulursak kullanacaz liste ekipmanlarını virgül yerine
#  "|" simgesi ile ayırıyoruz ve liste özelliğini yok etmiş oluyoruz. 
def unlist(x):
    if type(x) == list:
        x = "|".join(x)
    else:
        x = np.nan
    return x

## Extras

In [ ]:
 df["\nExtras\n"].sample(5)

6984                                        [Alloy wheels]
3997                                        [Alloy wheels]
12343    [Alloy wheels, Catalytic Converter, Touch scre...
10118                                [Catalytic Converter]
9264                                        [Alloy wheels]
Name: \nExtras\n, dtype: object

In [ ]:
df["\nExtras\n"].isnull().value_counts()

False    12957
True      2962
Name: \nExtras\n, dtype: int64

In [ ]:
# Araçlar hakında özellikler içerdiği için fiyatlandırmada etkili olabilir
# Şimdilik sadece sütun adı değiştirip, sonra detaylı bakılacaktır. 


df["Extras"] = df["\nExtras\n"]

## Entertainment & Media

In [ ]:
df["\nEntertainment & Media\n"].sample()

8140    [Bluetooth, On-board computer]
Name: \nEntertainment & Media\n, dtype: object

In [ ]:
df["\nEntertainment & Media\n"].isnull().value_counts()

False    14545
True      1374
Name: \nEntertainment & Media\n, dtype: int64

In [ ]:
# Araçlar medya oynatıcıları hakkında özellikler içerdiği için fiyatlandırmada etkili olabilir
# Şimdilik sadece sütun adı değiştirip, sonra detaylı bakılacaktır. 
df["Entertainment & Media"] = df["\nEntertainment & Media\n"]

## Comfort & Convenience

In [ ]:
df["\nComfort & Convenience\n"].sample(3)

9404    [Air conditioning, Electrical side mirrors, Hi...
3096    [Air conditioning, Power windows, Seat ventila...
3428    [Air conditioning, Armrest, Automatic climate ...
Name: \nComfort & Convenience\n, dtype: object

In [ ]:
df["\nComfort & Convenience\n"].isnull().value_counts()

False    14999
True       920
Name: \nComfort & Convenience\n, dtype: int64

In [ ]:
# Araçların iç dizaynı hakkında özellikler içerdiği için fiyatlandırmada etkili olabilir
# Şimdilik sadece sütun adı değiştirip, sonra detaylı bakılacaktır. 
df["Comfort & Convenience"] = df["\nComfort & Convenience\n"]

## Emission Class

In [ ]:
df["Emission Class"].sample(3)

15315    [\nEuro 6\n]
223      [\nEuro 6\n]
3092     [\nEuro 6\n]
Name: Emission Class, dtype: object

In [ ]:
df["Emission_Class_new"] =df["Emission Class"].str[0].str.strip("\n")

In [ ]:
df["Emission_Class_new"].sample(3)

11591       NaN
875         NaN
6626     Euro 6
Name: Emission_Class_new, dtype: object

## CO2 Emission

In [ ]:
df["CO2 Emission"].sample(3)

9777     [\n126 g CO2/km (comb)\n]
15677    [\n148 g CO2/km (comb)\n]
15796    [\n168 g CO2/km (comb)\n]
Name: CO2 Emission, dtype: object

In [ ]:
df["CO2_Emission_new"] = df["CO2 Emission"].str[0].str.strip("\n")

In [ ]:
df["CO2_Emission_new"].sample(5)

8511     137 g CO2/km (comb)
15636    153 g CO2/km (comb)
6467     104 g CO2/km (comb)
14189     85 g CO2/km (comb)
4461     107 g CO2/km (comb)
Name: CO2_Emission_new, dtype: object

## Consumption

In [ ]:
df["Consumption"][1]

[['5.6 l/100 km (comb)'], ['7.1 l/100 km (city)'], ['4.7 l/100 km (country)']]

In [ ]:
comb = df.Consumption.str[0].str[0]
city = df.Consumption.str[1].str[0]
country = df.Consumption.str[2].str[0]

In [ ]:
def cons_clean(x):
    if "/100" in str(x):
        x = x.split("/")[0].strip(" lkg")
    else:
        x = np.nan
    return x

In [ ]:
comb = comb.apply(cons_clean)
city = city.apply(cons_clean)
country = country.apply(cons_clean)

In [ ]:
comb.isna().sum()

2883

In [ ]:
comb = comb.astype(float)
city = city.astype(float)
country = country.astype(float)

In [ ]:
comb.fillna((city+country)/2, inplace=True)

In [ ]:
df["Consumption_new"] = comb

## Fuel

In [ ]:
df.Fuel.sample(5)

6181                          [\n, Diesel, \n]
10801    [\n, Diesel (Particulate Filter), \n]
14314                       [\n, Super 95, \n]
14392                       [\n, Gasoline, \n]
10087       [\n, Super 95 / Super Plus 98, \n]
Name: Fuel, dtype: object

In [ ]:
df["Fuel_new"] = df.Fuel.str[1]

In [ ]:
df["Fuel_new"].sample(5)

8583                        Gasoline
5844                    Super E10 95
15834                       Gasoline
1546                        Gasoline
11830    Diesel (Particulate Filter)
Name: Fuel_new, dtype: object

## Drive chain

In [ ]:
df["Drive chain"].sample(5)

12368            NaN
12309            NaN
15660    [\nfront\n]
7017     [\nfront\n]
5182     [\nfront\n]
Name: Drive chain, dtype: object

In [ ]:
df["Drive_chain_new"] = df["Drive chain"].str[0].str.strip("\n")

In [ ]:
df["Drive_chain_new"].value_counts()

front    8886
4WD       171
rear        4
Name: Drive_chain_new, dtype: int64

## Weight

In [ ]:
df["Weight"].sample(5)

8946     NaN
14985    NaN
11544    NaN
1245     NaN
11859    NaN
Name: Weight, dtype: object

In [ ]:
df["Weight_new"] =df["Weight"].str[0].str.strip("\n kg").str.replace(",","")

In [ ]:
df["Weight_new"].sample(5)

2625     1360
4136     1875
13675    1260
8465      NaN
9349      NaN
Name: Weight_new, dtype: object

## Cylinders

In [ ]:
df["Cylinders"].sample(5)

11789    [\n4\n]
3507     [\n4\n]
10282        NaN
8473         NaN
4072     [\n4\n]
Name: Cylinders, dtype: object

In [ ]:
df["Cylinders_new"] = df["Cylinders"].str[0].str.strip("\n")

In [ ]:
df["Cylinders_new"].sample(3)

14942    NaN
3610       5
4788       3
Name: Cylinders_new, dtype: object

## Displacement

In [ ]:
df["Displacement"].sample()

1467    [\n999 cc\n]
Name: Displacement, dtype: object

In [ ]:
df["Displacement_new"] = df["Displacement"].str[0].str.strip("\n kg").str.replace(",","")

In [ ]:
df["Displacement_new"].sample(5)

4852      999 cc
12918    1600 cc
13821    1461 cc
9613     1229 cc
8303     1398 cc
Name: Displacement_new, dtype: object

## Gearing Type

In [ ]:
df["Gearing Type"].sample(5)

9385             [\n, Manual, \n]
11134            [\n, Manual, \n]
13632            [\n, Manual, \n]
10813         [\n, Automatic, \n]
767      [\n, Semi-automatic, \n]
Name: Gearing Type, dtype: object

In [ ]:
df["Gearing Type_new"] = df["Gearing Type"].str[1]

In [ ]:
df["Gearing Type_new"].value_counts()

Manual            8153
Automatic         7297
Semi-automatic     469
Name: Gearing Type_new, dtype: int64

## Model Code

In [ ]:
df["Model Code"].sample(5)

6699     NaN
15348    NaN
13874    NaN
14295    NaN
15740    NaN
Name: Model Code, dtype: object

In [ ]:
df["Model Code_new"] = df["Model Code"].str[0].str.strip("\n")

In [ ]:
df["Model Code_new"].value_counts()

0035/BCB    268
0588/BNO    245
0588/BDB    206
0588/BHX    188
1844/ADJ    175
           ...
0000/ACP      1
0035/BGY      1
0035/bgp      1
0035/BGS      1
3333/BKG      1
Name: Model Code_new, Length: 232, dtype: int64

## Nr. of Seats

In [ ]:
df["Nr. of Seats"].sample(5)

4412     [\n5\n]
3813     [\n5\n]
11426    [\n5\n]
5259     [\n5\n]
2301     [\n5\n]
Name: Nr. of Seats, dtype: object

In [ ]:
df["Nr. of Seats_new"] = df["Nr. of Seats"].str[0].str.strip("\n")

In [ ]:
df["Nr. of Seats_new"].sample(5)

5644       5
12548      5
1120     NaN
15479      5
13220      5
Name: Nr. of Seats_new, dtype: object

## Nr. of Doors

In [ ]:
df["Nr. of Doors"].sample(5)

6261    [\n5\n]
6782    [\n5\n]
7879    [\n5\n]
2942    [\n5\n]
2334    [\n4\n]
Name: Nr. of Doors, dtype: object

In [ ]:
df["Nr. of Doors_new"] = df["Nr. of Doors"].str[0].str.strip("\n")

In [ ]:
df["Nr. of Doors_new"]

0        5
1        3
2        4
3        3
4        5
        ..
15914    5
15915    5
15916    5
15917    5
15918    5
Name: Nr. of Doors_new, Length: 15919, dtype: object

## Body

In [ ]:
df["Body"].value_counts()

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: Body, dtype: int64

In [ ]:
df["Body_new"] =df["Body"].str[1]

In [ ]:
df["Body_new"].value_counts(dropna= False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: Body_new, dtype: int64

## Upholstery

In [ ]:
df["Upholstery"].value_counts()

[\nCloth, Black\n]           5821
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nPart leather, Grey\n]      116
[\nFull leather, Brown\n]     116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nFull leather, Beige\n]      36
[\nVelour, Black\n]            36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nCloth, White\n]              8
[\nVelour, Grey\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nBeige\n]                     3
[\nPart leather, Red\n]         3
[\nalcantara\n]                 2
[\nPart leather, White\n]       2
[\nBlue\n]                      2
[\nWhite\n]                     2
[\nPart leather, Beige\n]       2
[\nalcantara, Other\n]          2
[\nFull leather, Blue\n]        2
[\nOther, Brown\n]              1
[\nCloth, Orange\n]             1
[\nFull leather, Red\n]         1
[\nFull leather, White\n]       1
Name: Upholstery, dtype: int64

In [ ]:
df["Upholstery_new"] =df["Upholstery"].str[0].str.strip("\n")

In [ ]:
df["Upholstery_new"].value_counts()

Cloth, Black           5821
Part leather, Black    1121
Cloth                  1005
Cloth, Grey             891
Cloth, Other            639
Full leather, Black     575
Black                   491
Grey                    273
Other, Other            182
Part leather            140
Full leather            139
Part leather, Grey      116
Full leather, Brown     116
Other, Black            110
Full leather, Other      72
Full leather, Grey       67
Part leather, Other      65
Other                    56
Part leather, Brown      50
alcantara, Black         47
Full leather, Beige      36
Velour, Black            36
Cloth, Brown             28
Velour                   16
Other, Grey              15
Cloth, Beige             13
Brown                    12
Cloth, Blue              12
Cloth, White              8
Velour, Grey              8
alcantara, Grey           6
Cloth, Red                5
Other, Yellow             4
Beige                     3
Part leather, Red         3
alcantara                 2
Part leather, White       2
Blue                      2
White                     2
Part leather, Beige       2
alcantara, Other          2
Full leather, Blue        2
Other, Brown              1
Cloth, Orange             1
Full leather, Red         1
Full leather, White       1
Name: Upholstery_new, dtype: int64

## Body Color Original

In [ ]:
df["Body Color Original"].sample(5)

4792                      NaN
4782                      NaN
4958               [\nGris\n]
15747       [\narktis-weiß\n]
8476     [\nLava Rot (ROT)\n]
Name: Body Color Original, dtype: object

In [ ]:
df["Body Color Original_new"] = df["Body Color Original"].str[0].str.strip("\n")

In [ ]:
df["Body Color Original_new"].sample(5)

14132           NaN
11340    Quarz Grau
13169      NOIR MTL
9320       Lava Rot
1753     Utopiablau
Name: Body Color Original_new, dtype: object

## Paint Type

In [ ]:
df["Paint Type"].sample(5)

214     [\nMetallic\n]
3417               NaN
9792    [\nMetallic\n]
5491    [\nMetallic\n]
3795    [\nMetallic\n]
Name: Paint Type, dtype: object

In [ ]:
df["Paint Type_new"]= df["Paint Type"].str[0].str.strip("\n")

In [ ]:
df["Paint Type_new"].value_counts()

Metallic       9794
Uni/basic       347
Perl effect       6
Name: Paint Type_new, dtype: int64

## Body Color

In [ ]:
df["Body Color"].value_counts()

[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: Body Color, dtype: int64

In [ ]:
df["Body Color_new"] =df["Body Color"].str[1]

In [ ]:
df["Body Color_new"].sample(5)

12250    White
14635    Black
3307      Grey
13101      NaN
12912     Grey
Name: Body Color_new, dtype: object

## First Registration

In [ ]:
df["First Registration"].value_counts()

[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
Name: First Registration, dtype: int64

In [ ]:
df["First Registration_new"] =df["First Registration"].str[1]

In [ ]:
df["First Registration_new"].sample(5)

841     2016
2129    2019
5302    2019
883     2017
6098    2017
Name: First Registration_new, dtype: object

## Offer Number

In [ ]:
df["Offer Number"].value_counts()

[\nLT67679\n]                                     27
[\nAK13780\n]                                     27
[\nTP62881\n]                                     27
[\nTA76392\n]                                     27
[\nXT61649\n]                                     27
                                                  ..
[\n160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b\n]     1
[\n6701576\n]                                      1
[\n6701569\n]                                      1
[\n158121\n]                                       1
[\nRe_30000008029\n]                               1
Name: Offer Number, Length: 11440, dtype: int64

In [ ]:
df["Offer Number_new"] = df["Offer Number"].str[0].str.strip("\n")

In [ ]:
df["Offer Number_new"].sample(5)

2724     BA804713
1244      TP62881
10997    21023365
2499     03837-HN
10531      TF868Z
Name: Offer Number_new, dtype: object

## Model

In [ ]:
df["Model"].sample(5)

899          [\n, A1, \n]
13337      [\n, Clio, \n]
3539         [\n, A3, \n]
1396         [\n, A1, \n]
15031    [\n, Espace, \n]
Name: Model, dtype: object

In [ ]:
df["Model_new"] = df["Model"].str[1]

In [ ]:
df["Model_new"].sample(5)

4439        A3
4306        A3
8015     Astra
13065     Clio
493         A1
Name: Model_new, dtype: object

## Make

In [ ]:
df["Make"].value_counts()

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

In [ ]:
df["Make_new"] =df["Make"].str.strip("\n")

In [ ]:
df["Make_new"].sample(5)

2305     Audi
659      Audi
3877     Audi
7260     Opel
10347    Opel
Name: Make_new, dtype: object

## null

In [ ]:
df["null"].value_counts() # Hepsi boş, Vakit harcama Drop et gitsin.

[]    15919
Name: null, dtype: int64

## Non-smoking Vehicle

In [ ]:
df["Non-smoking Vehicle"].value_counts()

[\n, \n]                                                                                      3647
[\n, \n, \n4 (Green)\n]                                                                       1240
[\n, \n, \nEuro 6\n]                                                                          1127
[\n, \n, \nEuro 6d-TEMP\n]                                                                     345
\n                                                                                              70
[\n, \n, \n120 g CO2/km (comb)\n]                                                               63
[\n, \n, \n85 g CO2/km (comb)\n]                                                                46
[\n, \n, \n104 g CO2/km (comb)\n]                                                               36
[\n, \n, \n107 g CO2/km (comb)\n]                                                               36
[\n, \n, \n153 g CO2/km (comb)\n]                                                               31
[\n, \n, \n124 g CO2/km (comb)\n]                                                               29
[\n, \n, \n1 (No sticker)\n]                                                                    24
[\n, \n, \n99 g CO2/km (comb)\n]                                                                23
[\n, \n, \n106 g CO2/km (comb)\n]                                                               20
[\n, \n, \n97 g CO2/km (comb)\n]                                                                20
[\n, \n, \n108 g CO2/km (comb)\n]                                                               19
[\n, \n, \n100 g CO2/km (comb)\n]                                                               18
[\n, \n, \n109 g CO2/km (comb)\n]                                                               18
[\n, \n, \n113 g CO2/km (comb)\n]                                                               18
[\n, \n, \n105 g CO2/km (comb)\n]                                                               18
[\n, \n, \nEuro 6c\n]                                                                           17
[\n, \n, \n98 g CO2/km (comb)\n]                                                                15
[\n, \n, \n129 g CO2/km (comb)\n]                                                               14
[\n, \n, \n131 g CO2/km (comb)\n]                                                               13
[\n, \n, \n133 g CO2/km (comb)\n]                                                               12
[\n, \n, \n103 g CO2/km (comb)\n]                                                               12
[\n, \n, \n114 g CO2/km (comb)\n]                                                               12
[\n, \n, \n135 g CO2/km (comb)\n]                                                               11
[\n, \n, \n116 g CO2/km (comb)\n]                                                               11
[\n, \n, \n102 g CO2/km (comb)\n]                                                               11
[\n, \n, \n143 g CO2/km (comb)\n]                                                               10
[\n, \n, \n127 g CO2/km (comb)\n]                                                               10
[\n, \n, \nEuro 6d\n]                                                                            9
[\n, \n, \n92 g CO2/km (comb)\n]                                                                 9
[\n, \n, \n112 g CO2/km (comb)\n]                                                                9
[\n, \n, \n5 (Blue)\n]                                                                           8
[\n, \n, \n118 g CO2/km (comb)\n]                                                                8
[\n, \n, \n147 g CO2/km (comb)\n]                                                                7
[\n, \n, \n128 g CO2/km (comb)\n]                                                                7
[\n, \n, \n139 g CO2/km (comb)\n]                                                                7
[\n, \n, \n140 g CO2/km (comb)\n]                                                                6
[\n, \n, \n137 g CO2/km (comb)\n]                                                                6
[\n, \n, \n117 g CO2/km (comb)\n]                                                                6
[\n, \n, \n126 g CO2/km (comb)\n]                                                                6
[\n, \n, \n130 g CO2/km (comb)\n]                                                                5
[\n, \n, \n115 g CO2/km (comb)\n]                                                                5
[\n, \n, \n, 5.2 l/100 km (comb), \n, 5.8 l/100 km (city), \n, 4.8 l/100 km (country), \n]       4
[\n, \n, \n123 g CO2/km (comb)\n]                                                                4
[\n, \n, \nEuro 5\n]                                                                             4
[\n, \n, \n151 g CO2/km (comb)\n]                                                                4
[\n, \n, \n136 g CO2/km (comb)\n]                                                                3
[\n, \n, \n110 g CO2/km (comb)\n]                                                                3
[\n, \n, \n148 g CO2/km (comb)\n]                                                                3
[\n, \n, \n157 g CO2/km (comb)\n]                                                                3
[\n, \n, \n95 g CO2/km (comb)\n]                                                                 3
[\n, \n, \n119 g CO2/km (comb)\n]                                                                3
[\n, \n, \n149 g CO2/km (comb)\n]                                                                3
[\n, \n, \n166 g CO2/km (comb)\n]                                                                2
[\n, \n, \n138 g CO2/km (comb)\n]                                                                2
[\n, \n, \n121 g CO2/km (comb)\n]                                                                2
[\n, \n, \n111 g CO2/km (comb)\n]                                                                2
[\n, \n, \n90 g CO2/km (comb)\n]                                                                 2
[\n, \n, \n142 g CO2/km (comb)\n]                                                                2
[\n, \n, \n125 g CO2/km (comb)\n]                                                                2
[\n, \n, \n134 g CO2/km (comb)\n]                                                                2
[\n, \n, \n, 5.2 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.4 l/100 km (country), \n]       2
[\n, \n, \n, 6.5 l/100 km (comb), \n, 8.5 l/100 km (city), \n, 5.4 l/100 km (country), \n]       1
[\n, \n, \n146 g CO2/km (comb)\n]                                                                1
[\n, \n, \n189 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.1 l/100 km (comb), \n, 7.7 l/100 km (city), \n, 5.2 l/100 km (country), \n]       1
[\n, \n, \n, 6.3 l/100 km (comb), \n, 8 l/100 km (city), \n, 5.3 l/100 km (country), \n]         1
[\n, \n, \n154 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.5 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
[\n, \n, \n, 6.4 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.4 l/100 km (country), \n]       1
[\n, \n, \n122 g CO2/km (comb)\n]                                                                1
[\n, \n, \n82 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n, 1.6 l/100 km (comb), \n, \n, \n]                                                    1
[\n, \n, \n172 g CO2/km (comb)\n]                                                                1
[\n, \n, \n161 g CO2/km (comb)\n]                                                                1
[\n, \n, \n156 g CO2/km (comb)\n]                                                                1
[\n, \n, \n169 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.1 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 5.1 l/100 km (country), \n]       1
[\n, \n, \n152 g CO2/km (comb)\n]                                                                1
[\n, \n, \n144 g CO2/km (comb)\n]                                                                1
[\n, \n, \n132 g CO2/km (comb)\n]                                                                1
[\n, \n, \n159 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 5.6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n158 g CO2/km (comb)\n]                                                                1
[\n, \n, \n150 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.2 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.3 l/100 km (country), \n]       1
[\n, \n, \n91 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n101 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n175 g CO2/km (comb)\n]                                                                1
Name: Non-smoking Vehicle, dtype: int64

In [ ]:
df["Non-smoking Vehicle_new"] =df["Non-smoking Vehicle"].str[2].str.strip("\n")

In [ ]:
df["Non-smoking Vehicle_new"].value_counts()

4 (Green)              1240
Euro 6                 1127
Euro 6d-TEMP            345
120 g CO2/km (comb)      63
85 g CO2/km (comb)       46
104 g CO2/km (comb)      36
107 g CO2/km (comb)      36
153 g CO2/km (comb)      31
124 g CO2/km (comb)      29
1 (No sticker)           24
99 g CO2/km (comb)       23
106 g CO2/km (comb)      20
97 g CO2/km (comb)       20
108 g CO2/km (comb)      19
109 g CO2/km (comb)      18
105 g CO2/km (comb)      18
100 g CO2/km (comb)      18
113 g CO2/km (comb)      18
Euro 6c                  17
                         16
98 g CO2/km (comb)       15
129 g CO2/km (comb)      14
131 g CO2/km (comb)      13
103 g CO2/km (comb)      12
114 g CO2/km (comb)      12
133 g CO2/km (comb)      12
135 g CO2/km (comb)      11
102 g CO2/km (comb)      11
116 g CO2/km (comb)      11
127 g CO2/km (comb)      10
143 g CO2/km (comb)      10
Euro 6d                   9
92 g CO2/km (comb)        9
112 g CO2/km (comb)       9
118 g CO2/km (comb)       8
5 (Blue)                  8
128 g CO2/km (comb)       7
139 g CO2/km (comb)       7
147 g CO2/km (comb)       7
117 g CO2/km (comb)       6
137 g CO2/km (comb)       6
140 g CO2/km (comb)       6
126 g CO2/km (comb)       6
115 g CO2/km (comb)       5
130 g CO2/km (comb)       5
Euro 5                    4
151 g CO2/km (comb)       4
123 g CO2/km (comb)       4
148 g CO2/km (comb)       3
119 g CO2/km (comb)       3
149 g CO2/km (comb)       3
110 g CO2/km (comb)       3
136 g CO2/km (comb)       3
157 g CO2/km (comb)       3
95 g CO2/km (comb)        3
166 g CO2/km (comb)       2
90 g CO2/km (comb)        2
138 g CO2/km (comb)       2
121 g CO2/km (comb)       2
125 g CO2/km (comb)       2
134 g CO2/km (comb)       2
111 g CO2/km (comb)       2
142 g CO2/km (comb)       2
152 g CO2/km (comb)       1
82 g CO2/km (comb)        1
172 g CO2/km (comb)       1
154 g CO2/km (comb)       1
161 g CO2/km (comb)       1
146 g CO2/km (comb)       1
156 g CO2/km (comb)       1
91 g CO2/km (comb)        1
144 g CO2/km (comb)       1
132 g CO2/km (comb)       1
169 g CO2/km (comb)       1
159 g CO2/km (comb)       1
158 g CO2/km (comb)       1
150 g CO2/km (comb)       1
122 g CO2/km (comb)       1
189 g CO2/km (comb)       1
101 g CO2/km (comb)       1
175 g CO2/km (comb)       1
Name: Non-smoking Vehicle_new, dtype: int64

## Full Service

In [ ]:
df["Full Service"].value_counts()

[\n, \n, \n4 (Green)\n]                                                                       2235
[\n, \n, \nEuro 6\n]                                                                          2097
[\n, \n]                                                                                      1702
[\n, \n, \nEuro 6d-TEMP\n]                                                                     399
\n                                                                                             283
                                                                                              ...
[\n, \n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]           1
[\n, \n, \n84 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n87 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.9 l/100 km (country), \n]       1
[\n, \n, \nEuro 4\n]                                                                             1
Name: Full Service, Length: 122, dtype: int64

In [ ]:
df["Full Service_new"] = df["Full Service"].str[2].str.strip("\n")

In [ ]:
df["Full Service_new"].value_counts(5)

4 (Green)                0.359
Euro 6                   0.337
Euro 6d-TEMP             0.064
120 g CO2/km (comb)      0.017
126 g CO2/km (comb)      0.013
104 g CO2/km (comb)      0.012
97 g CO2/km (comb)       0.012
124 g CO2/km (comb)      0.010
99 g CO2/km (comb)       0.010
128 g CO2/km (comb)      0.009
119 g CO2/km (comb)      0.008
                         0.006
140 g CO2/km (comb)      0.006
106 g CO2/km (comb)      0.006
92 g CO2/km (comb)       0.005
107 g CO2/km (comb)      0.005
114 g CO2/km (comb)      0.005
102 g CO2/km (comb)      0.005
103 g CO2/km (comb)      0.005
1 (No sticker)           0.005
Euro 6c                  0.004
117 g CO2/km (comb)      0.004
139 g CO2/km (comb)      0.004
127 g CO2/km (comb)      0.004
141 g CO2/km (comb)      0.004
136 g CO2/km (comb)      0.003
85 g CO2/km (comb)       0.003
125 g CO2/km (comb)      0.003
108 g CO2/km (comb)      0.003
112 g CO2/km (comb)      0.003
109 g CO2/km (comb)      0.003
5 (Blue)                 0.003
150 g CO2/km (comb)      0.003
129 g CO2/km (comb)      0.003
130 g CO2/km (comb)      0.002
154 g CO2/km (comb)      0.002
133 g CO2/km (comb)      0.002
113 g CO2/km (comb)      0.002
135 g CO2/km (comb)      0.002
116 g CO2/km (comb)      0.002
110 g CO2/km (comb)      0.002
123 g CO2/km (comb)      0.002
137 g CO2/km (comb)      0.002
143 g CO2/km (comb)      0.002
105 g CO2/km (comb)      0.002
Euro 6d                  0.002
132 g CO2/km (comb)      0.002
95 g CO2/km (comb)       0.002
101 g CO2/km (comb)      0.002
118 g CO2/km (comb)      0.002
91 g CO2/km (comb)       0.001
111 g CO2/km (comb)      0.001
147 g CO2/km (comb)      0.001
149 g CO2/km (comb)      0.001
145 g CO2/km (comb)      0.001
Euro 5                   0.001
121 g CO2/km (comb)      0.001
96 g CO2/km (comb)       0.001
82 g CO2/km (comb)       0.001
142 g CO2/km (comb)      0.001
134 g CO2/km (comb)      0.001
138 g CO2/km (comb)      0.001
131 g CO2/km (comb)      0.001
89 g CO2/km (comb)       0.001
189 g CO2/km (comb)      0.001
148 g CO2/km (comb)      0.001
152 g CO2/km (comb)      0.000
151 g CO2/km (comb)      0.000
94 g CO2/km (comb)       0.000
153 g CO2/km (comb)      0.000
115 g CO2/km (comb)      0.000
122 g CO2/km (comb)      0.000
98 g CO2/km (comb)       0.000
169 g CO2/km (comb)      0.000
166 g CO2/km (comb)      0.000
157 g CO2/km (comb)      0.000
93 g CO2/km (comb)       0.000
144 g CO2/km (comb)      0.000
146 g CO2/km (comb)      0.000
88 g CO2/km (comb)       0.000
90 g CO2/km (comb)       0.000
188 g CO2/km (comb)      0.000
0 kWh/100 km (comb)      0.000
87 g CO2/km (comb)       0.000
84 g CO2/km (comb)       0.000
80 g CO2/km (comb)       0.000
156 g CO2/km (comb)      0.000
159 g CO2/km (comb)      0.000
253 g CO2/km (comb)      0.000
164 g CO2/km (comb)      0.000
13,983 g CO2/km (comb)   0.000
197 g CO2/km (comb)      0.000
Euro 4                   0.000
Name: Full Service_new, dtype: float64

In [ ]:
df[["Non-smoking Vehicle_new","Full Service_new"]].sample(5)
#burda bunlarin icndeki bilgiler benzer gibi bunlar eger drop edilmeyecekse birbirleri ile doldurularbilir

      Non-smoking Vehicle_new Full Service_new
8873                   Euro 6              NaN
10211                     NaN              NaN
5380                      NaN              NaN
12605                     NaN        4 (Green)
3400      103 g CO2/km (comb)              NaN

## Warranty

In [ ]:
df.Warranty.value_counts()

[\n, \n, \nEuro 6\n]                                                                               1868
\n12 months\n                                                                                      1177
\n                                                                                                  979
\n24 months\n                                                                                       566
[\n, \n, \n4 (Green)\n]                                                                             517
                                                                                                   ...
[\n72 months\n, \n125 g CO2/km (comb)\n]                                                              1
[\n60 months\n, \n14 g CO2/km (comb)\n]                                                               1
[\n24 months\n, \n121 g CO2/km (comb)\n]                                                              1
[\n12 months\n, \nEuro 6d\n]                                                                          1
[\n36 months\n, \n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]       1
Name: Warranty, Length: 515, dtype: int64

In [ ]:
def take_1(x):
    if type(x)==float: 
        return np.nan 
    elif type(x[0])==list:
        return np.nan
    else:
        return x[0]

In [ ]:
df['Warranty_new'] = df['Warranty'].apply(take_1).replace("\\n", "", regex=True)
df['Warranty_new'].value_counts()

             7703
12 months    1417
24 months     552
60 months     382
36 months     223
6 months       49
72 months      44
48 months      40
3 months       14
23 months      10
18 months       7
20 months       7
25 months       5
50 months       4
16 months       4
2 months        4
34 months       3
1 months        2
11 months       2
14 months       2
45 months       2
22 months       2
21 months       2
17 months       2
46 months       2
26 months       2
13 months       2
65 months       1
33 months       1
28 months       1
15 months       1
7 months        1
19 months       1
10 months       1
56 months       1
49 months       1
47 months       1
40 months       1
Name: Warranty_new, dtype: int64

## Inspection new

In [ ]:
df["Inspection new"][2355]

['\nYes\n',
 '\n',
 '4.9 l/100 km (comb)',
 '\n',
 '5.9 l/100 km (city)',
 '\n',
 '4.3 l/100 km (country)',
 '\n']

In [ ]:
df["Inspection new"].isnull().value_counts()
# Muayne bilgisi fiyata ettiki etmeyen bir parametre olduğu için sutün'u düşürmek yerinde bir karar olur.
# Eğer fiyata ettiki etseydi, sutünün %75'nin null değer olmasına rağmen düşürmek yerine değerleri anlamlı bir şekide doldurmaya çalışırdık.

True     11987
False     3932
Name: Inspection new, dtype: int64

## Next Inspection

In [ ]:
df["Next Inspection"].isnull().value_counts()
# Muayne bilgisi fiyata ettiki etmeyen bir parametre olduğu için sutün'u düşürmek yerinde bir karar olur.
# Eğer fiyata ettiki etseydi, sutünün %77'sinin null değer olmasına rağmen düşürmek yerine değerleri anlamlı bir şekide doldurmaya çalışırdık.

True     12384
False     3535
Name: Next Inspection, dtype: int64

## Previous Owners

In [ ]:
df["Previous Owners"].value_counts()

\n1\n                                                                                        8101
\n2\n                                                                                         766
\n0\n                                                                                         163
\n3\n                                                                                          17
[\n1\n, \n168 g CO2/km (comb)\n]                                                               13
                                                                                             ...
[\n1\n, \n111 g CO2/km (comb)\n]                                                                1
[\n1\n, \nEuro 6\n]                                                                             1
[\n2\n, \n119 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 6.6 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.7 l/100 km (country), \n]       1
[\n1\n, \n142 g CO2/km (comb)\n]                                                                1
Name: Previous Owners, Length: 102, dtype: int64

In [ ]:
df['Previous Owners_new'] = df['Previous Owners'].apply(take_1).replace("\\n", "", regex=True)
df['Previous Owners_new'].value_counts()

     9049
1     193
0      25
2      12
Name: Previous Owners_new, dtype: int64

## Type

In [ ]:
df["Type"].value_counts()

[, Used, , Diesel (Particulate Filter)]                                                                                 3475
[, Used, , Diesel]                                                                                                      2516
[, Used, , Gasoline]                                                                                                    2367
[, Used, , Super 95]                                                                                                    1818
[, Pre-registered, , Super 95]                                                                                           500
                                                                                                                        ...
[, New, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95]       1
[, Used, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)]                               1
[, Demonstration, , Super Plus 98]                                                                                         1
[, New, , Super Plus E10 98]                                                                                               1
[, Demonstration, , Regular/Benzine E10 91]                                                                                1
Name: Type, Length: 169, dtype: int64

In [ ]:
df["Type_new"] =  df["Type"].str[1]
df["Type_new"].value_counts()

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
Name: Type_new, dtype: int64

In [ ]:
used = ['Used', "Employee's car", 'Demonstration']
new = ["New", "Pre-registered"]

In [ ]:
def usage(x):
    if x in used:
        x = "Used"
    elif x in new:
        x = "New"
    return x

In [ ]:
df["Type_new"] = df["Type_new"].apply(usage)
df["Type_new"].value_counts(dropna=False)

Used    12903
New      3014
NaN         2
Name: Type_new, dtype: int64

## hp

In [ ]:
df["hp"].value_counts()

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
70 kW      888
125 kW     707
51 kW      695
55 kW      569
118 kW     516
92 kW      466
121 kW     392
147 kW     380
77 kW      345
56 kW      286
54 kW      276
103 kW     253
87 kW      232
165 kW     194
88 kW      177
60 kW      160
162 kW      98
- kW        88
74 kW       81
96 kW       72
71 kW       59
101 kW      47
67 kW       40
154 kW      39
122 kW      35
119 kW      30
164 kW      27
135 kW      24
82 kW       22
52 kW       22
78 kW       20
1 kW        20
294 kW      18
146 kW      18
141 kW      16
57 kW       10
104 kW       8
120 kW       8
191 kW       7
112 kW       7
155 kW       6
117 kW       6
184 kW       5
90 kW        4
76 kW        4
65 kW        4
149 kW       3
80 kW        3
168 kW       3
98 kW        3
93 kW        3
228 kW       2
270 kW       2
53 kW        2
140 kW       2
86 kW        2
167 kW       2
127 kW       2
89 kW        2
143 kW       2
63 kW        2
40 kW        2
150 kW       2
163 kW       1
115 kW       1
132 kW       1
75 kW        1
4 kW         1
137 kW       1
123 kW       1
133 kW       1
84 kW        1
195 kW       1
44 kW        1
239 kW       1
9 kW         1
Name: hp, dtype: int64

In [ ]:
df["hp_new"] = df["hp"].str.strip(" kW")

df["hp_new"].value_counts()

85     2542
66     2122
81     1402
100    1308
110    1112
70      888
125     707
51      695
55      569
118     516
92      466
121     392
147     380
77      345
56      286
54      276
103     253
87      232
165     194
88      177
60      160
162      98
-        88
74       81
96       72
71       59
101      47
67       40
154      39
122      35
119      30
164      27
135      24
82       22
52       22
78       20
1        20
294      18
146      18
141      16
57       10
104       8
120       8
191       7
112       7
155       6
117       6
184       5
90        4
76        4
65        4
149       3
80        3
168       3
98        3
93        3
228       2
270       2
53        2
140       2
86        2
167       2
127       2
89        2
143       2
63        2
40        2
150       2
163       1
115       1
132       1
75        1
4         1
137       1
123       1
133       1
84        1
195       1
44        1
239       1
9         1
Name: hp_new, dtype: int64

## kW

In [ ]:
df["kW"].isnull().value_counts() #sutün boş olduğu için drop ediyoruz.

True    15919
Name: kW, dtype: int64

## prev_owner

In [ ]:
df["prev_owner"].isnull().value_counts()

False    9091
True     6828
Name: prev_owner, dtype: int64

In [ ]:
df["prev_owner"].value_counts()

1 previous owner     8294
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [ ]:
df[["prev_owner", "Previous Owners_new"]].sample(5)

             prev_owner Previous Owners_new
6359               None                 NaN
12649  1 previous owner
12398  1 previous owner
4985   1 previous owner
9787   1 previous owner

In [ ]:
df["prev_owner_new"] = df["prev_owner"].str[0]

In [ ]:
df["prev_owner_new"].value_counts()

1    8294
2     778
3      17
4       2
Name: prev_owner_new, dtype: int64

## registration

In [ ]:
df["registration_new"].sample(5)

14277    01/2019
3116     03/2016
6759     10/2017
10126    01/2019
15655    06/2018
Name: registration_new, dtype: object

In [ ]:
df["registration_new"] = scout_car["registration"] #Kullanılmaya hazır veri

## km

In [ ]:
df["km"].value_counts()

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64

In [ ]:
df["km_new"] = df["km"].str.replace(",","").str.strip(" km")
df["km_new"]

0        56013
1        80000
2        83450
3        73000
4        16200
         ...
15914        -
15915     9900
15916       15
15917       10
15918        -
Name: km_new, Length: 15919, dtype: object

## vat

In [ ]:
df["vat"].value_counts(dropna= False)

VAT deductible      10980
None                 4513
Price negotiable      426
Name: vat, dtype: int64

In [ ]:
df["vat_new"] = df["vat"].apply(lambda x: "Discount" if x != None else np.nan)
df["vat_new"].value_counts(dropna=False)

Discount    11406
NaN          4513
Name: vat_new, dtype: int64

## price

In [ ]:
df["price_new"] = df["price"] #kullanıma hazır veri

## body_type

In [ ]:
df["body_type_new"].value_counts()

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type_new, dtype: int64

In [ ]:
df["body_type_new"] = scout_car["body_type"]
#NaN ve Other verileri araştırılacak

## short_description

In [ ]:
df["short_description_new"] = df["short_description"]
#46 null değer var.

## make_model TUT

In [ ]:
df["make_model_new"] = df["make_model"]

## url

In [ ]:
df["url_new"] = df["url"] 
#eksik bilgileri bundan yararlanarak doldurabiliriz.
#onun için şimdilik tutuyoruz.

## final part cleaning

In [ ]:
df.columns

Index(['Available_from', 'Safety_Security', 'Extras', 'Entertainment_Media',
       'Comfort_Convenience', 'Emission_Class', 'CO2_Emission', 'Consumption',
       'Fuel', 'Drive_chain', 'Weight', 'Cylinders', 'Displacement',
       'Gearing_Type', 'Model_Code', 'Seats', 'Doors', 'Body', 'Upholstery',
       'Body_Color_Original', 'Paint_Type', 'Body_Color', 'First_Registration',
       'Offer_Number', 'Model', 'Make', 'Non_smoking_Vehicle', 'Full_Service',
       'Warranty', 'Previous_Owners', 'Type', 'hp', 'prev_owner', 'km', 'vat',
       'price', 'body_type', 'short_description', 'make_model', 'url',
       'registration_new', 'description', 'Emission_Label', 'Gears',
       'Country_version', 'Last_Timing_Belt_Service_Date'],
      dtype='object')

In [ ]:
drop_columns = ['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'hp', 'Type',
       'Previous Owners', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n','Available from']

In [ ]:
df.drop(drop_columns, axis=1, inplace=True)

In [ ]:
df.columns

Index(['Available_from', 'Safety_Security', 'Extras', 'Entertainment_Media',
       'Comfort_Convenience', 'Emission_Class', 'CO2_Emission', 'Consumption',
       'Fuel', 'Drive_chain', 'Weight', 'Cylinders', 'Displacement',
       'Gearing_Type', 'Model_Code', 'Seats', 'Doors', 'Body', 'Upholstery',
       'Body_Color_Original', 'Paint_Type', 'Body_Color', 'First_Registration',
       'Offer_Number', 'Model', 'Make', 'Non_smoking_Vehicle', 'Full_Service',
       'Warranty', 'Previous_Owners', 'Type', 'hp', 'prev_owner', 'km', 'vat',
       'price', 'body_type', 'short_description', 'make_model', 'url',
       'registration_new', 'description', 'Emission_Label', 'Gears',
       'Country_version', 'Last_Timing_Belt_Service_Date'],
      dtype='object')

In [ ]:
df.rename(columns={'Available_from_new': "Available_from", 'Safety & Security':"Safety_Security", 'Extras':"Extras",
       'Entertainment & Media':"Entertainment_Media", 'Comfort & Convenience':"Comfort_Convenience", 'Emission_Class_new':"Emission_Class",
       'CO2_Emission_new':"CO2_Emission", 'Consumption_new':"Consumption", 'Fuel_new':"Fuel", 'Drive_chain_new':"Drive_chain",
       'Weight_new':"Weight", 'Cylinders_new':"Cylinders", 'Displacement_new':"Displacement", 'Gearing Type_new':"Gearing_Type",
       'Model Code_new':"Model_Code", 'Nr. of Seats_new':"Seats", 'Nr. of Doors_new':"Doors", 'Body_new':"Body",
       'Upholstery_new':"Upholstery", 'Body Color Original_new':"Body_Color_Original", 'Paint Type_new':"Paint_Type",
       'Body Color_new':"Body_Color", 'First Registration_new':"First_Registration", 'Offer Number_new':"Offer_Number",
       'Model_new':"Model", 'Make_new':"Make", 'Non-smoking Vehicle_new':"Non_smoking_Vehicle", 'Full Service_new':"Full_Service",
       'Warranty_new': "Warranty", 'Previous Owners_new':"Previous_Owners", 'Type_new':"Type", 'hp_new':"hp",
       'prev_owner_new':"prev_owner", 'km_new':"km", 'vat_new':"vat", 'price_new':"price", 'body_type_new':"body_type",
       'short_description_new':"short_description", 'make_model_new':"make_model", 'url_new':"url"}, inplace=True)

In [ ]:
df1 = scout_car.copy()

In [ ]:
df['description'] = df2['description']

In [ ]:
df.columns

Index(['Available_from', 'Safety_Security', 'Extras', 'Entertainment_Media',
       'Comfort_Convenience', 'Emission_Class', 'CO2_Emission', 'Consumption',
       'Fuel', 'Drive_chain', 'Weight', 'Cylinders', 'Displacement',
       'Gearing_Type', 'Model_Code', 'Seats', 'Doors', 'Body', 'Upholstery',
       'Body_Color_Original', 'Paint_Type', 'Body_Color', 'First_Registration',
       'Offer_Number', 'Model', 'Make', 'Non_smoking_Vehicle', 'Full_Service',
       'Warranty', 'Previous_Owners', 'Type', 'hp', 'prev_owner', 'km', 'vat',
       'price', 'body_type', 'short_description', 'make_model', 'url',
       'registration_new', 'description', 'Emission_Label', 'Gears',
       'Country_version', 'Last_Timing_Belt_Service_Date'],
      dtype='object')

In [ ]:
Keep =['Entertainment_Media', 'Comfort_Convenience', 'CO2_Emission','Fuel','Drive_chain','Cylinders', 'Displacement','Gearing_Type','Seats','Doors',
'Upholstery', 'Paint_Type', 'Full_Service', 'Full_Service', 'Type', 'hp', 'prev_owner', 'km', 'vat',
       'price', 'body_type','description','Gears',]

In [ ]:
Drop_later =["Safety_Security",'Extras', 'Emission_Class','Consumption', 'Body_Color_Original', 'Body_Color', 'First_Registration', 'Non_smoking_Vehicle' ,
'make_model',"Contry_version",'Last_Timing_Belt_Servic_Date', 'Emisson_label' ]

In [ ]:
drop_columns_inplace = ['Available_from', 'Weight', 'Model_Code','Body', 'Offer_Number', 'Model', 'Make', 'Previous_Owners', 'short_description','registration_new']

In [ ]:
df.drop(drop_columns_inplace, axis=1, inplace=True)

In [ ]:
#df.to_csv("scout_car_clean.csv", index=False)

In [ ]:
df.sample(3).T

NameError: name 'df' is not defined