___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

# WELCOME!

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

The project consists of 3 parts:
* First part is related with 'data cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, Dropping useless columns.
* Second part is related with 'filling data'. It deals with Missing Values. Categorical to numeric transformation is done.
* Third part is related with 'handling outliers of data' via Visualisation libraries. Some insights are extracted.

# PART- 1 `( Data Cleaning )`

In [1]:
import pandas as pd
import re
import numpy as np
import seaborn as sns
sns.set_style("whitegrid")

import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.display.max_rows=100
pd.options.display.max_columns=100

In [4]:
scout_car = pd.read_json ('scout_car.json', lines = True)
df = scout_car.copy()
df.sample(3)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
3890,https://www.autoscout24.com//offers/audi-a3-s-...,Audi A3,S-tronic NAVIGATIE / XENON / BTW AFTREKBAAR,Sedans,20950,None,"26,943 km",10/2017,1 previous owner,NaN,85 kW,"[, Used, , Diesel]",\n1\n,NaN,NaN,"[\n12 months\n, \nEuro 6\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A3, \n]",NaN,"[\n, 2017, \n]","[\n, Grey, \n]",[\nMetallic\n],[\nMoessongrijs metaalkleur\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",[\n4\n],"[\n1,365 kg\n]",[\nfront\n],"[\n, Diesel, \n]","[[4 l/100 km (comb)], [], []]",[\n102 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, On-board computer, Radi...",[Alloy wheels],"[ABS, Alarm system, Central door lock, Central...","[\nDecocars Biedt aan: , Audi A3 1600 TDi S-tr...",NaN,[\n7\n],[\nBelgium\n],NaN,"[\n01/2017\n, \n102 g CO2/km (comb)\n]",NaN,NaN,NaN,NaN
5940,https://www.autoscout24.com//offers/opel-astra...,Opel Astra,1.6 CDTi 136 CV Excellence Auto,None,12990,None,"47,000 km",07/2016,None,NaN,100 kW,"[, Used, , Diesel]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nOpel\n,"[\n, Astra, \n]",NaN,"[\n, 2016, \n]","[\n, Black, \n]",NaN,NaN,NaN,NaN,[\n5\n],NaN,NaN,"[\n, Automatic, \n]",NaN,NaN,NaN,NaN,"[\n, Diesel, \n]","[[4.5 l/100 km (comb)], [5.7 l/100 km (city)],...",[\n119 g CO2/km (comb)\n],NaN,"[Air conditioning, Multi-function steering wheel]",NaN,NaN,"[ABS, Central door lock, Daytime running light...","[\nMás de 2.000 coches en la web de Flexicar ,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4278,https://www.autoscout24.com//offers/audi-a3-sp...,Audi A3,Sportback sport 1.6 TDI Xenon - Navi,Sedans,17900,VAT deductible,"64,595 km",04/2017,1 previous owner,NaN,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,"[\nYes\n, \n111 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]",[],\nAudi\n,"[\n, A3, \n]",[\n5762\n],"[\n, 2017, \n]","[\n, Black, \n]",NaN,[\nBrillantschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BLH\n],"[\n, Manual, \n]","[\n1,598 cc\n]",[\n4\n],"[\n1,335 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[4.2 l/100 km (comb)], [4.7 l/100 km (city)],...",[\n111 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport seats]","[ABS, Central door lock, Daytime running light...","[\n, Assistenzsysteme, Einparkhilfe vorne und ...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.sample(3).T

,6705,13545,11581
url,https://www.autoscout24.com//offers/opel-astra...,https://www.autoscout24.com//offers/renault-cl...,https://www.autoscout24.com//offers/opel-insig...
make_model,Opel Astra,Renault Clio,Opel Insignia
short_description,K 1.4 Turbo Automatik Edition PDC AGR-Sitze,1.5dCi eco2 Energy Authentique 75,"B ST 2.0 D Innov./LED/Frontkamera/18"""
body_type,Sedans,Compact,Station wagon
price,16590,7999,18750
vat,None,None,VAT deductible
km,"17,000 km","88,000 km","25,358 km"
registration,01/2017,06/2016,08/2017
prev_owner,1 previous owner,None,1 previous owner
kW,NaN,NaN,NaN
hp,110 kW,55 kW,125 kW
Type,"[, Used, , Super 95]","[, Used, , Diesel]","[, Used, , Diesel (Particulate Filter)]"
Previous Owners,\n1\n,NaN,\n1\n
Next Inspection,"[\n02/2021\n, \n127 g CO2/km (comb)\n]",NaN,NaN
Inspection new,NaN,NaN,NaN
Warranty,"[\n, \n, \nEuro 6\n]",\n12 months\n,"[\n, \n, \n139 g CO2/km (comb)\n]"
Full Service,"[\n, \n, \n4 (Green)\n]",NaN,NaN
Non-smoking Vehicle,NaN,NaN,"[\n, \n, \nEuro 6\n]"
null,[],[],[]
Make,\nOpel\n,\nRenault\n,\nOpel\n
Model,"[\n, Astra, \n]","[\n, Clio, \n]","[\n, Insignia, \n]"
Offer Number,[\n10183543\n],[\n2783767\n],[\nJB 72 A X\n]
First Registration,"[\n, 2017, \n]","[\n, 2016, \n]","[\n, 2017, \n]"
Body Color,"[\n, Silver, \n]","[\n, White, \n]","[\n, Silver, \n]"
Paint Type,[\nMetallic\n],NaN,[\nMetallic\n]
Body Color Original,[\nArgonsilber\n],[\nBlanco\n],[\nArgonsilber\n]
Upholstery,"[\nCloth, Black\n]",NaN,"[\nPart leather, Black\n]"
Body,"[\n, Sedans, \n]","[\n, Compact, \n]","[\n, Station wagon, \n]"
Nr. of Doors,[\n5\n],[\n5\n],[\n4\n]
Nr. of Seats,[\n5\n],[\n5\n],[\n5\n]
Model Code,[\n0035/BFM\n],NaN,NaN
Gearing Type,"[\n, Automatic, \n]","[\n, Manual, \n]","[\n, Manual, \n]"
Displacement,"[\n1,399 cc\n]","[\n1,461 cc\n]","[\n1,956 cc\n]"
Cylinders,[\n4\n],[\n4\n],NaN
Weight,"[\n1,308 kg\n]","[\n1,071 kg\n]",NaN
Drive chain,[\nfront\n],[\nfront\n],NaN
Fuel,"[\n, Super 95, \n]","[\n, Diesel, \n]","[\n, Diesel (Particulate Filter), \n]"
Consumption,"[[5.5 l/100 km (comb)], [7.2 l/100 km (city)],...","[[3 l/100 km (comb)], [4 l/100 km (city)], [3 ...","[[5.3 l/100 km (comb)], [6.9 l/100 km (city)],..."
CO2 Emission,[\n127 g CO2/km (comb)\n],NaN,[\n139 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],NaN,[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Cruise control, Hill Holder...",NaN,"[Air conditioning, Armrest, Automatic climate ..."
\nEntertainment & Media\n,"[Bluetooth, Hands-free equipment, On-board com...",NaN,"[Bluetooth, Hands-free equipment, On-board com..."
\nExtras\n,"[Catalytic Converter, Touch screen]",NaN,"[Alloy wheels, Roof rack, Ski bag, Touch scree..."
\nSafety & Security\n,"[ABS, Central door lock, Driver-side airbag, E...",NaN,"[ABS, Adaptive headlights, Central door lock, ..."
description,"[\n, Sonderausstattung: , Parkpilot vorne u. h...",[\nDL MOTOR COMPRA VENTA MULTIMARCAS CON MAS D...,"[\n, Fahrzeug steht in 14913 Jüterbog, Dennewi..."
Emission Label,NaN,NaN,[\n4 (Green)\n]
Gears,[\n6\n],[\n5\n],NaN
Country version,[\nGermany\n],NaN,NaN
Electricity consumption,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN
Availability,NaN,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN
Available from,NaN,NaN,NaN

In [6]:
df.shape

(15919, 54)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [7]:
df.make_model.value_counts()

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [8]:
df['Make']=df['Make'].replace('\\n','', regex=True)
df['Make'].value_counts()

Opel       7343
Audi       5712
Renault    2864
Name: Make, dtype: int64

In [9]:
df.short_description.value_counts()

SPB 1.6 TDI 116 CV S tronic Sport                 64
1.4 66kW (90CV) Selective                         40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH             38
SPB 30 TDI S tronic Business                      35
SPB 30 TFSI S tronic Admired                      35
                                                  ..
K Sports Tourer Business **Navi*Voll**             1
1.0 Turbo ecoFLEX Automatic Elective Park Navi     1
1.6 CDTI Business *Navi*Automatik*Spurh.*          1
1.6 136 CV Automatica Navi E 6 Garanzia Full       1
TCe 225 EDC GPF LIM Deluxe Pano,RFK                1
Name: short_description, Length: 10001, dtype: int64

In [ ]:
df[["short_description","description"]].head(15)

,short_description,description
0,Sportback 1.4 TDI S-tronic Xenon Navi Klima,"[\n, Sicherheit:, , Deaktivierung für Beifahr..."
1,1.8 TFSI sport,[\nLangstreckenfahrzeug daher die hohe Kilomet...
2,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2..."
3,1.4 TDi Design S tronic,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat..."
4,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa..."
5,1.6 TDI Sport DSG *SHZ*Xenon*Navi*Bose*PDC*,[\nSichern Sie sich diesen Audi A1 1.6 TDI Spo...
6,Sportback 1.6 TDI S-TRONIC S-LINE*NAVI|XENON*,"[\nREDUZIERT !!!, MwSt. ausweisbar, Nettopreis..."
7,Sportback 1.4 TDI admired S tronic,"[\n, Ausstattungspakete:, Ausstattungspaket: ..."
8,SPB 1.6 TDI S-tronic Metal plus + Xeno,[\nAuto in ottime condizioni. Unico proprietar...
9,SPORTBACK TFSI ULTRA 95 S-TRONIC AMB.,"[\nClim automatique,Ecran multifonction couleu..."
10,SPORTBACK1.6 TDI 116 CV S tronic Metal plus,"[\nautovettura ufficiale unico proprietario , ..."
11,Sportback Sport »1.4 TFSI|Xenon|Navi|EPH+|SHZ|...,"[\n, Außenausstattung, beheizbare Außenspiegel..."
12,Sportback 1.4 TFSI S-tronic *S line*NAV*XEN*,"[\n, Highlights:, Anschlussgarantie 1 Jahr, ma..."
13,1.4 TFSI 150ch COD Ambition Luxe S tronic 7,[\nMarque: AUDIModèle: A1Version: 1.4 TFSI 150...
14,Sportback 1.0 TFSI S-TRonic*Navi*Xenon*APS* Sport,"[\n, www.nord-automobile.de, AUDI A1 1.0 TFSI..."

In [10]:
df[["short_description","description"]].sample(15)
#bunlar ne kadar uyumlu bir komtrol edilsin kimi yerde uyumlu kimi yerde degil?

,short_description,description
13320,Energy TCe Intens EDC,[]
12450,GSI,[\nPrachtige Insignia GSI 4X4 met een 210pk 8 ...
2691,SPB 1.2 TFSI 110 CV S tronic,"[\n, Audi A3 Sportback 1.2 81 kW (110 cv) TFSI..."
13658,1.5 dCi 8V 75CV 5 porte,"[\nAuto in perfette condizione, tagliandata Re..."
7479,"S/T INNOVATION 1,6 136CV","[\n, USATO AZIENDALE GARANTITO - , prezzo escl..."
2671,"Sportback 1.6 TDI Automaat Sport Edition Navi,...",[\nIn uitstekende staat verkerende A3 SportBac...
745,"SPB 1.4 TDI S tronic GUIDOSIMPLEX "" km 8.000""","[\nPER CONTATTI 3806820974 - 3351409111 , ANN..."
6954,Sports Tourer Astra ST Edition 1.6 CDTI ecoFle...,"[\nKlimaautomatik 2-Zonen, Klimaautomatik, Aud..."
1863,Sportback 25 TFSI,[]
14870,"Sitzhzg.,Klima,PDC,Bluetooth,Tempomat","[\n, BONUSAKTION, - limitiert u. zeitlich bef..."
4683,SB 30 1.6 tdi Sport 116cv s-tronic,[\nLa dotazione tecnica e gli optionals potreb...
7889,ST 1.4 Turbo Aut. Navi Kamera 17 Zoll BT,"[\n, Innenausstattung:, Teilleder, Schwarz, La..."
7888,K ST 1.4 AT Innovation* Navi*AGR*SHZ*11tkm,"[\n4 Einstiegstüren, Unfallfrei, Herstellergar..."
2495,Sportback 25 TFSI advanced 1.0,"[\n, Getriebe:, Schaltgetriebe, Technik:, Bo..."
11896,2.0 CDTI ST AT Inno *Panorama*AHK*Matrix*,"[\n, Fahrtauglich, Unfallfrei, Herstellergaran..."

In [11]:
df['Model'].apply(lambda x: np.nan if type(x)==float else x[1])

0            A1
1            A1
2            A1
3            A1
4            A1
          ...
15914    Espace
15915    Espace
15916    Espace
15917    Espace
15918    Espace
Name: Model, Length: 15919, dtype: object

In [12]:
df.description

0        [\n, Sicherheit:,  , Deaktivierung für Beifahr...
1        [\nLangstreckenfahrzeug daher die hohe Kilomet...
2        [\n, Fahrzeug-Nummer: AM-95365,  , Ehem. UPE 2...
3        [\nAudi A1: , - 1e eigenaar , - Perfecte staat...
4        [\n, Technik & Sicherheit:, Xenon plus, Klimaa...
                               ...
15914    [\nVettura visionabile nella sede in Via Roma ...
15915    [\nDach: Panorama-Glas-Schiebedach, Lackierung...
15916    [\n, Getriebe:,  Automatik, Technik:,  Bordcom...
15917    [\nDEK:[2691331], Renault Espace Blue dCi 200C...
15918    [\n, Sicherheit Airbags:,  , Seitenairbag,  , ...
Name: description, Length: 15919, dtype: object

In [13]:
def missing (df):     
    missing_number = df.isnull().sum().sort_values(ascending=False)  #IT her sütunda toplam nan değerlerini gösterir.
    missing_percent = (df.isnull().sum()/len(df)*100).sort_values(ascending=False)     
    missing_values = pd.concat([missing_number, missing_percent], axis=1, keys=['Missing_Number', 'Missing_Percent'])
    return missing_values

missing(df)

                               Missing_Number  Missing_Percent
kW                                      15919          100.000
Last Timing Belt Service Date           15903           99.899
Electricity consumption                 15782           99.139
Available from                          15647           98.291
Last Service Date                       15353           96.445
Availability                            15284           96.011
Other Fuel Types                        15039           94.472
Next Inspection                         12384           77.794
Inspection new                          11987           75.300
Emission Label                          11934           74.967
Model Code                              10941           68.729
Non-smoking Vehicle                      8742           54.916
Country version                          8333           52.346
Full Service                             7704           48.395
Weight                                   6974           43.809
Drive chain                              6858           43.081
prev_owner                               6828           42.892
Previous Owners                          6640           41.711
Paint Type                               5772           36.259
Cylinders                                5680           35.681
Warranty                                 5420           34.047
Gears                                    4712           29.600
vat                                      4513           28.350
Body Color Original                      3759           23.613
Upholstery                               3720           23.368
Offer Number                             3175           19.945
Emission Class                           3021           18.977
\nExtras\n                               2962           18.607
Consumption                              1906           11.973
CO2 Emission                             1808           11.357
First Registration                       1597           10.032
\nEntertainment & Media\n                1374            8.631
\nSafety & Security\n                     982            6.169
Nr. of Seats                              977            6.137
\nComfort & Convenience\n                 920            5.779
Body Color                                597            3.750
Displacement                              496            3.116
Nr. of Doors                              212            1.332
Body                                       60            0.377
body_type                                  60            0.377
short_description                          46            0.289
Type                                        2            0.013
Fuel                                        0            0.000
Gearing Type                                0            0.000
make_model                                  0            0.000
Model                                       0            0.000
Make                                        0            0.000
description                                 0            0.000
null                                        0            0.000
hp                                          0            0.000
registration                                0            0.000
km                                          0            0.000
price                                       0            0.000
url                                         0            0.000

In [14]:
df.describe()

          price    kW
count 15919.000 0.000
mean  18019.897   NaN
std    7386.169   NaN
min      13.000   NaN
25%   12850.000   NaN
50%   16900.000   NaN
75%   21900.000   NaN
max   74600.000   NaN

In [15]:
df.describe(include="object").T

,count,unique,top,freq
url,15919,15919,https://www.autoscout24.com//offers/audi-a1-sp...,1
make_model,15919,9,Audi A3,3097
short_description,15873,10001,SPB 1.6 TDI 116 CV S tronic Sport,64
body_type,15859,9,Sedans,7903
vat,11406,2,VAT deductible,10980
km,15919,6690,10 km,1045
registration,15919,48,-/-,1597
prev_owner,9091,4,1 previous owner,8294
hp,15919,81,85 kW,2542
Type,15917,169,"[, Used, , Diesel (Particulate Filter)]",3475
Previous Owners,9279,102,\n1\n,8101
Next Inspection,3535,1399,\n04/2022\n,62
Inspection new,3932,202,"[\nYes\n, \nEuro 6\n]",523
Warranty,10499,515,"[\n, \n, \nEuro 6\n]",1868
Full Service,8215,122,"[\n, \n, \n4 (Green)\n]",2235
Non-smoking Vehicle,7177,94,"[\n, \n]",3647
null,15919,1,[],15919
Make,15919,3,Opel,7343
Model,15919,9,"[\n, A3, \n]",3097
Offer Number,12744,11440,[\nLT67679\n],27
First Registration,14322,4,"[\n, 2018, \n]",4522
Body Color,15322,14,"[\n, Black, \n]",3745
Paint Type,10147,3,[\nMetallic\n],9794
Body Color Original,12160,1927,[\nOnyx Schwarz\n],338
Upholstery,12199,46,"[\nCloth, Black\n]",5821
Body,15859,9,"[\n, Sedans, \n]",7903
Nr. of Doors,15707,6,[\n5\n],11575
Nr. of Seats,14942,6,[\n5\n],13336
Model Code,4978,232,[\n0035/BCB\n],268
Gearing Type,15919,3,"[\n, Manual, \n]",8153
Displacement,15423,77,"[\n1,598 cc\n]",4761
Cylinders,10239,7,[\n4\n],8105
Weight,8945,434,"[\n1,163 kg\n]",574
Drive chain,9061,3,[\nfront\n],8886
Fuel,15919,77,"[\n, Diesel (Particulate Filter), \n]",4315
Consumption,14013,881,"[[3.9 l/100 km (comb)], [4.1 l/100 km (city)],...",304
CO2 Emission,14111,123,[\n120 g CO2/km (comb)\n],740
Emission Class,12898,7,[\nEuro 6\n],10139
\nComfort & Convenience\n,14999,6198,"[Air conditioning, Electrical side mirrors, Hi...",216
\nEntertainment & Media\n,14545,346,"[Bluetooth, Hands-free equipment, On-board com...",1282
\nExtras\n,12957,659,[Alloy wheels],3245
\nSafety & Security\n,14937,4443,"[ABS, Central door lock, Daytime running light...",538
description,15919,12874,[],636
Emission Label,3985,6,[\n4 (Green)\n],3553
Gears,11207,10,[\n6\n],5822
Country version,7586,23,[\nGermany\n],4502
Electricity consumption,137,1,[\n0 kWh/100 km (comb)\n],137
Last Service Date,566,266,"[\n02/2019\n, \nEuro 6\n]",23
Other Fuel Types,880,1,"[[], [], []]",880
Availability,635,15,\nin 90 days from ordering\n,196
Last Timing Belt Service Date,16,15,[\n04/2016\n],2
Available from,272,46,\n31/08/19\n,98

In [16]:
df['Body'].apply(lambda x: np.nan if type(x)==float else x[1])

0        Sedans
1        Sedans
2        Sedans
3        Sedans
4        Sedans
          ...
15914       Van
15915       Van
15916       Van
15917       Van
15918       Van
Name: Body, Length: 15919, dtype: object

In [17]:
df.body_type.value_counts()#nbu temizmis ve budy il baglantili body kirli bunu tut

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [18]:
df.Type.value_counts()

[, Used, , Diesel (Particulate Filter)]                                                                                 3475
[, Used, , Diesel]                                                                                                      2516
[, Used, , Gasoline]                                                                                                    2367
[, Used, , Super 95]                                                                                                    1818
[, Pre-registered, , Super 95]                                                                                           500
                                                                                                                        ...
[, New, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95]       1
[, Used, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)]                               1
[, Demonstration, , Super Plus 98]                                                                                         1
[, New, , Super Plus E10 98]                                                                                               1
[, Demonstration, , Regular/Benzine E10 91]                                                                                1
Name: Type, Length: 169, dtype: int64

In [19]:
df.Body.value_counts()#bu kirli bunu drop et

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: Body, dtype: int64

In [20]:
df.vat.nunique

<bound method IndexOpsMixin.nunique of 0          VAT deductible
1        Price negotiable
2          VAT deductible
3                    None
4                    None
               ...
15914      VAT deductible
15915      VAT deductible
15916      VAT deductible
15917      VAT deductible
15918      VAT deductible
Name: vat, Length: 15919, dtype: object>

In [ ]:
df.vat.value_counts()# birinci el olmasi 2. el olmasi
#none gercekten bosmu yoksa hic indirim yapilmamis mi 
#green ya co2 emisyon ile alakali

VAT deductible      10980
Price negotiable      426
Name: vat, dtype: int64

In [21]:
df.isnull().sum()

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
Type                                 2
Previous Owners                   6640
Next Inspection                  12384
Inspection new                   11987
Warranty                          5420
Full Service                      7704
Non-smoking Vehicle               8742
null                                 0
Make                                 0
Model                                0
Offer Number                      3175
First Registration                1597
Body Color                         597
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code                       10941
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel                                 0
Consumption                       1906
CO2 Emission                      1808
Emission Class                    3021
\nComfort & Convenience\n          920
\nEntertainment & Media\n         1374
\nExtras\n                        2962
\nSafety & Security\n              982
description                          0
Emission Label                   11934
Gears                             4712
Country version                   8333
Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647
dtype: int64

In [22]:
df.iloc[388]#none  olan arabalar ortakmi ;luksmu bu arastirilsin

url                              https://www.autoscout24.com//offers/audi-a1-s1...
make_model                                                                 Audi A1
short_description                                  /S1 SPB 1.6 TDI 116 CV S tronic
body_type                                                                   Sedans
price                                                                        15990
vat                                                                           None
km                                                                       73,575 km
registration                                                               01/2016
prev_owner                                                                    None
kW                                                                             NaN
hp                                                                           85 kW
Type                                                            [, Used, , Diesel]
Previous Owners                                                                NaN
Next Inspection                                                                NaN
Inspection new                                                                 NaN
Warranty                                                                       NaN
Full Service                                                                   NaN
Non-smoking Vehicle                                                            NaN
null                                                                            []
Make                                                                          Audi
Model                                                                 [\n, A1, \n]
Offer Number                                                                   NaN
First Registration                                                  [\n, 2016, \n]
Body Color                                                         [\n, Black, \n]
Paint Type                                                          [\nMetallic\n]
Body Color Original                                                            NaN
Upholstery                                                                     NaN
Body                                                              [\n, Sedans, \n]
Nr. of Doors                                                               [\n5\n]
Nr. of Seats                                                                   NaN
Model Code                                                                     NaN
Gearing Type                                                   [\n, Automatic, \n]
Displacement                                                        [\n1,598 cc\n]
Cylinders                                                                  [\n4\n]
Weight                                                                         NaN
Drive chain                                                            [\nfront\n]
Fuel                                                              [\n, Diesel, \n]
Consumption                      [[4.3 l/100 km (comb)], [3.7 l/100 km (city)],...
CO2 Emission                                              [\n97 g CO2/km (comb)\n]
Emission Class                                                        [\nEuro 6\n]
\nComfort & Convenience\n        [Air conditioning, Automatic climate control, ...
\nEntertainment & Media\n                                                      NaN
\nExtras\n                                                          [Alloy wheels]
\nSafety & Security\n            [ABS, Driver-side airbag, Power steering, Trac...
description                      [\nDisponibile presso GMG Spa Via della Romagn...
Emission Label                                                                 NaN
Gears                                                                      [\n7\n]
Country version                                                                NaN
Electricity consumption                                                        NaN
Last Service Date                                                              NaN
Other Fuel Types                                                               NaN
Availability                                                                   NaN
Last Timing Belt Service Date                                                  NaN
Available from                                                                 NaN
Name: 388, dtype: object

In [ ]:
df.iloc[422]

url                              https://www.autoscout24.com//offers/audi-a1-1-...
make_model                                                                 Audi A1
short_description                             1.4 TDI Design DKG*Navi*PDC*Alu*SHZ*
body_type                                                                  Compact
price                                                                        14990
vat                                                                           None
km                                                                       49,351 km
registration                                                               12/2016
prev_owner                                                       2 previous owners
kW                                                                             NaN
hp                                                                           66 kW
Type                                       [, Used, , Diesel (Particulate Filter)]
Previous Owners                                                              \n2\n
Next Inspection                                                                NaN
Inspection new                                                                 NaN
Warranty                                                                       NaN
Full Service                                     [\n, \n, \n104 g CO2/km (comb)\n]
Non-smoking Vehicle                                           [\n, \n, \nEuro 6\n]
null                                                                            []
Make                                                                      \nAudi\n
Model                                                                 [\n, A1, \n]
Offer Number                                                         [\nAK13780\n]
First Registration                                                  [\n, 2016, \n]
Body Color                                                         [\n, Black, \n]
Paint Type                                                          [\nMetallic\n]
Body Color Original                                                            NaN
Upholstery                                                       [\nCloth, Grey\n]
Body                                                             [\n, Compact, \n]
Nr. of Doors                                                               [\n4\n]
Nr. of Seats                                                               [\n5\n]
Model Code                                                                     NaN
Gearing Type                                                   [\n, Automatic, \n]
Displacement                                                        [\n1,422 cc\n]
Cylinders                                                                      NaN
Weight                                                                         NaN
Drive chain                                                                    NaN
Fuel                                         [\n, Diesel (Particulate Filter), \n]
Consumption                      [[4 l/100 km (comb)], [4.4 l/100 km (city)], [...
CO2 Emission                                             [\n104 g CO2/km (comb)\n]
Emission Class                                                        [\nEuro 6\n]
\nComfort & Convenience\n        [Air conditioning, Armrest, Automatic climate ...
\nEntertainment & Media\n        [Bluetooth, CD player, Hands-free equipment, O...
\nExtras\n                              [Alloy wheels, Sport seats, Voice Control]
\nSafety & Security\n            [ABS, Central door lock, Daytime running light...
description                      [\n, Fahrzeugbeschreibung,  Sichern Sie sich d...
Emission Label                                                     [\n4 (Green)\n]
Gears                                                                          NaN
Country version                                                      [\nGermany\n]
Electricity consumption                                                        NaN
Last Service Date                                                              NaN
Other Fuel Types                                                               NaN
Availability                                                                   NaN
Last Timing Belt Service Date                                                  NaN
Available from                                                                 NaN
Name: 422, dtype: object

In [23]:
df.vat.sample(15)#vatin icinedeki bilgilerde ki one other mi yoksa ne ise ona gore aratsitrilsin

9357       VAT deductible
7455       VAT deductible
2720       VAT deductible
3395                 None
7595       VAT deductible
4863       VAT deductible
2834       VAT deductible
4189                 None
11235      VAT deductible
5505       VAT deductible
14530                None
12497      VAT deductible
11804                None
13507    Price negotiable
14252                None
Name: vat, dtype: object

In [24]:
df.vat.isnull().sum()

4513

In [25]:
df.km.isnull().sum()

0

In [62]:
df.km.value_counts()#kalsin ama virgul falan silinecek icin duzenlencecek

10       1045
-        1024
1         367
5         170
50        148
         ...
67469       1
43197       1
10027       1
35882       1
57          1
Name: km, Length: 6690, dtype: int64

In [27]:
df["registration"].sample()

1911    -/-
Name: registration, dtype: object

In [28]:
df["registration"].value_counts()

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: registration, dtype: int64

In [29]:
df["First Registration"].sample()

9456    [\n, 2017, \n]
Name: First Registration, dtype: object

In [31]:
df[["registration","First Registration"]].sample(15)
#first regstration delete edilebilir ayni bilgiyi icermekte
#ama burda eger sadce tarih onemliyse first registrationu cekmek daha mantikli cunku liste halinde 
#split yap 1nciyi al

      registration First Registration
15483      06/2019     [\n, 2019, \n]
454        02/2016     [\n, 2016, \n]
15441      03/2019     [\n, 2019, \n]
15556          -/-                NaN
12567      04/2019     [\n, 2019, \n]
7630       01/2019     [\n, 2019, \n]
7222       04/2018     [\n, 2018, \n]
1246       02/2017     [\n, 2017, \n]
4031       03/2019     [\n, 2019, \n]
2521       05/2019     [\n, 2019, \n]
2452           -/-                NaN
3092       03/2016     [\n, 2016, \n]
14318      11/2018     [\n, 2018, \n]
9489       03/2018     [\n, 2018, \n]
3274       05/2016     [\n, 2016, \n]

In [ ]:
#from scipy.stats import linregress
#linregress("registration", "First Registration")

In [ ]:
#np.corrcoef("registration", "First Registration")

In [ ]:
#def corr("registration","First Registration"):
  #  "data1 & data2 should be numpy arrays."
    #mean1 = ["registration,"].mean() 
    #mean2 = ["First Registration"].mean()
    #std1 = ["registration,"].std()
    #std2 =["First Registration"].std()

#     corr = ((data1-mean1)*(data2-mean2)).mean()/(std1*std2)
    #corr = ((["registration"]*["First Registration"].mean()-mean1*mean2)/(std1*std2)
   # return corr

In [ ]:
df.prev_owner.value_counts()

1 previous owner     8294
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [ ]:
df.prev_owner.isnull().sum()

6828

In [ ]:
df[["prev_owner","Previous Owners"]].sample(15)

              prev_owner Previous Owners
6813    1 previous owner           \n1\n
15438               None             NaN
2241    1 previous owner           \n1\n
1098                None             NaN
551     1 previous owner           \n1\n
3877                None             NaN
6880                None             NaN
6950    1 previous owner           \n1\n
8396    1 previous owner           \n1\n
14025  2 previous owners           \n2\n
1839    1 previous owner           \n1\n
8101    1 previous owner           \n1\n
340    2 previous owners           \n2\n
4936                None             NaN
1999                None             NaN

In [ ]:
df["Previous Owners"]

0                                                    \n2\n
1                                                      NaN
2                                                    \n1\n
3                                                    \n1\n
4                                                    \n1\n
                               ...
15914                                                  NaN
15915    [\n1\n, \n, 7.4 l/100 km (comb), \n, 9.2 l/100...
15916                     [\n1\n, \n139 g CO2/km (comb)\n]
15917                                                  NaN
15918                                                \n1\n
Name: Previous Owners, Length: 15919, dtype: object

In [ ]:
df['Make']=df['Make'].replace('\\n','', regex=True)
df['Make'].value_counts()

In [32]:
df["Previous_Owners"] = [item[0] if type(item) == list else item for item in df["Previous Owners"]]
## hepsini liste disina cikaracak4


df["Previous_Owners"] = df["Previous_Owners"].str.strip("\n").astype('float')

In [33]:
df["Previous Owners"].isnull().sum()

6640

In [ ]:
df["description"].apply(lambda a:float(a.split("")))

In [35]:
df.prev_owner.describe()
#onceki kullanicilar onemli o yuzden kalsin dedik

count                 9091
unique                   4
top       1 previous owner
freq                  8294
Name: prev_owner, dtype: object

In [36]:
df.km.isnull().sum()

0

In [37]:
df.km.value_counts()

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64

In [38]:
df.km.describe()

count     15919
unique     6690
top       10 km
freq       1045
Name: km, dtype: object

In [44]:
# Km ifadesi ve ""
df["km"] = df["km"].str.replace(",","").str.strip(" km")
df["km"]

0        56013
1        80000
2        83450
3        73000
4        16200
         ...
15914        -
15915     9900
15916       15
15917       10
15918        -
Name: km, Length: 15919, dtype: object

In [39]:
df.kW.value_counts()

Series([], Name: kW, dtype: int64)

In [40]:
df.kW.describe()

count   0.000
mean      NaN
std       NaN
min       NaN
25%       NaN
50%       NaN
75%       NaN
max       NaN
Name: kW, dtype: float64

In [41]:
df.kW.isnull().sum()

15919

In [42]:
df.hp.describe()

count     15919
unique       81
top       85 kW
freq       2542
Name: hp, dtype: object

In [ ]:
df.hp.isnull().sum()

0

In [ ]:
df.hp.value_counts()

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
          ...
84 kW        1
195 kW       1
44 kW        1
239 kW       1
9 kW         1
Name: hp, Length: 81, dtype: int64

In [ ]:
df.hp.nunique()

81

In [ ]:
df.hp.unique()

array(['66 kW', '141 kW', '85 kW', '70 kW', '92 kW', '112 kW', '60 kW',
       '71 kW', '67 kW', '110 kW', '93 kW', '147 kW', '86 kW', '140 kW',
       '87 kW', '- kW', '81 kW', '82 kW', '135 kW', '132 kW', '100 kW',
       '96 kW', '162 kW', '150 kW', '294 kW', '228 kW', '270 kW',
       '137 kW', '9 kW', '133 kW', '77 kW', '101 kW', '78 kW', '103 kW',
       '1 kW', '74 kW', '118 kW', '84 kW', '88 kW', '80 kW', '76 kW',
       '149 kW', '44 kW', '51 kW', '55 kW', '52 kW', '63 kW', '40 kW',
       '65 kW', '75 kW', '125 kW', '120 kW', '184 kW', '239 kW', '121 kW',
       '143 kW', '191 kW', '89 kW', '195 kW', '127 kW', '122 kW',
       '154 kW', '155 kW', '104 kW', '123 kW', '146 kW', '90 kW', '53 kW',
       '54 kW', '56 kW', '164 kW', '4 kW', '163 kW', '57 kW', '119 kW',
       '165 kW', '117 kW', '115 kW', '98 kW', '168 kW', '167 kW'],
      dtype=object)

In [ ]:
df["Type"].describe()

count                                       15917
unique                                        169
top       [, Used, , Diesel (Particulate Filter)]
freq                                         3475
Name: Type, dtype: object

In [43]:
df.Type.value_counts()#burda 4 cesti varmis bu gruplanabilir liste duzenlenmeili

[, Used, , Diesel (Particulate Filter)]                                                                                 3475
[, Used, , Diesel]                                                                                                      2516
[, Used, , Gasoline]                                                                                                    2367
[, Used, , Super 95]                                                                                                    1818
[, Pre-registered, , Super 95]                                                                                           500
                                                                                                                        ...
[, New, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95]       1
[, Used, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)]                               1
[, Demonstration, , Super Plus 98]                                                                                         1
[, New, , Super Plus E10 98]                                                                                               1
[, Demonstration, , Regular/Benzine E10 91]                                                                                1
Name: Type, Length: 169, dtype: int64

In [ ]:
df.Type.isnull().sum()

2

In [45]:
df[["prev_owner","Previous Owners"]].sample(15)

              prev_owner                   Previous Owners
2517    1 previous owner                             \n1\n
9040   2 previous owners  [\n2\n, \n129 g CO2/km (comb)\n]
1881    1 previous owner                             \n1\n
1081    1 previous owner                             \n1\n
5344    1 previous owner                             \n1\n
4845    1 previous owner                             \n1\n
13956               None                               NaN
2674    1 previous owner                             \n1\n
12787               None                               NaN
7394    1 previous owner                             \n1\n
8013    1 previous owner                             \n1\n
6331   2 previous owners                             \n2\n
6218    1 previous owner                             \n1\n
15552               None                               NaN
10159   1 previous owner                             \n1\n

In [ ]:
df["prev_owner"].unique()

array(['2 previous owners', None, '1 previous owner', '3 previous owners',
       '4 previous owners'], dtype=object)

In [ ]:
df["prev_owner"].isnull().sum()

6828

In [ ]:
df["prev_owner"].value_counts()

1 previous owner     8294
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [46]:
df[df["km"] == "-"].loc[:,["km","First Registration","prev_owner"]]

      km First Registration        prev_owner
743    -                NaN              None
869    -                NaN              None
946    -                NaN              None
977    -                NaN              None
980    -                NaN              None
...   ..                ...               ...
15890  -                NaN              None
15902  -                NaN              None
15912  -                NaN              None
15914  -                NaN              None
15918  -     [\n, 2019, \n]  1 previous owner

[1024 rows x 3 columns]

In [61]:
df1 = df.copy()
df1.loc[df1.km == "-", "km"] = np.nan
df1.km = df1.km.astype(float)

In [59]:
df1.groupby("First Registration").mean()

                       price        km  kW  Previous_Owners
First Registration
2016.000           13644.039 77442.521 NaN            1.168
2017.000           15595.916 41754.941 NaN            1.152
2018.000           18456.037 18035.239 NaN            1.022
2019.000           22805.061  2085.355 NaN            1.005

In [47]:
df["Next Inspection"].value_counts()

\n04/2022\n                               62
\n03/2021\n                               38
\n03/2022\n                               36
\n06/2021\n                               34
\n01/2022\n                               32
                                          ..
[\n12/2018\n, \n97 g CO2/km (comb)\n]      1
[\n03/2022\n, \n1 (No sticker)\n]          1
[\n05/2021\n, \n93 g CO2/km (comb)\n]      1
[\n06/2021\n, \n93 g CO2/km (comb)\n]      1
[\n01/2022\n, \n168 g CO2/km (comb)\n]     1
Name: Next Inspection, Length: 1399, dtype: int64

In [48]:
df["Next Inspection"].value_counts()

\n04/2022\n                               62
\n03/2021\n                               38
\n03/2022\n                               36
\n06/2021\n                               34
\n01/2022\n                               32
                                          ..
[\n12/2018\n, \n97 g CO2/km (comb)\n]      1
[\n03/2022\n, \n1 (No sticker)\n]          1
[\n05/2021\n, \n93 g CO2/km (comb)\n]      1
[\n06/2021\n, \n93 g CO2/km (comb)\n]      1
[\n01/2022\n, \n168 g CO2/km (comb)\n]     1
Name: Next Inspection, Length: 1399, dtype: int64

In [49]:
df[["Inspection new","Next Inspection"]].isnull().sum()

Inspection new     11987
Next Inspection    12384
dtype: int64

In [ ]:
df[["Inspection new","Next Inspection"]].sample(15)

,Inspection new,Next Inspection
6593,NaN,"[\n04/2020\n, \n119 g CO2/km (comb)\n]"
7082,"[\nYes\n, \nEuro 6\n]","[\n06/2021\n, \n125 g CO2/km (comb)\n]"
4127,NaN,NaN
6150,NaN,NaN
10240,NaN,"[\n01/2019\n, \n132 g CO2/km (comb)\n]"
5002,NaN,NaN
9814,NaN,"[\n05/2021\n, \n120 g CO2/km (comb)\n]"
12791,NaN,"[\n05/2022\n, \n, 6.3 l/100 km (comb), \n, 8 l..."
1013,NaN,"[\n04/2021\n, \n102 g CO2/km (comb)\n]"
13865,NaN,\n04/2021\n
9293,"[\nYes\n, \n120 g CO2/km (comb)\n]","[\n08/2020\n, \n, 5.2 l/100 km (comb), \n, 6.8..."
3701,NaN,"[\n08/2020\n, \n114 g CO2/km (comb)\n]"
3416,NaN,"[\n06/2020\n, \n118 g CO2/km (comb)\n]"
2177,NaN,NaN
9588,NaN,NaN

In [ ]:
df[["Inspection new","Next Inspection"]].isnull().sum()#yil 1. el 2. el olmasi gibi conditionlara gore yil doldurulcak

Inspection new     11987
Next Inspection    12384
dtype: int64

In [50]:
df["CO2 Emission"].value_counts()

[\n120 g CO2/km (comb)\n]      740
[[], [], []]                   628
[\n99 g CO2/km (comb)\n]       545
[\n97 g CO2/km (comb)\n]       537
[\n104 g CO2/km (comb)\n]      501
                              ...
[\n14 g CO2/km (comb)\n]         1
[\n1,060 g CO2/km (comb)\n]      1
[\n51 g CO2/km (comb)\n]         1
[\n165 g CO2/km (comb)\n]        1
[\n193 g CO2/km (comb)\n]        1
Name: CO2 Emission, Length: 123, dtype: int64

In [51]:
df[["Inspection new","Next Inspection","CO2 Emission"]]

,Inspection new,Next Inspection,CO2 Emission
0,"[\nYes\n, \nEuro 6\n]","[\n06/2021\n, \n99 g CO2/km (comb)\n]",[\n99 g CO2/km (comb)\n]
1,NaN,NaN,[\n129 g CO2/km (comb)\n]
2,NaN,NaN,[\n99 g CO2/km (comb)\n]
3,NaN,NaN,[\n99 g CO2/km (comb)\n]
4,"[\nYes\n, \n109 g CO2/km (comb)\n]",NaN,[\n109 g CO2/km (comb)\n]
...,...,...,...
15914,NaN,NaN,[\n139 g CO2/km (comb)\n]
15915,NaN,"[\n01/2022\n, \n168 g CO2/km (comb)\n]",[\n168 g CO2/km (comb)\n]
15916,"[\nYes\n, \nEuro 6d-TEMP\n]",NaN,[\n139 g CO2/km (comb)\n]
15917,NaN,NaN,[\n139 g CO2/km (comb)\n]
15918,"[\nYes\n, \n153 g CO2/km (comb)\n]",NaN,[\n153 g CO2/km (comb)\n]

In [52]:
df[["Next Inspection","Inspection new", 'CO2 Emission', 'Emission Class']].head()

,Next Inspection,Inspection new,CO2 Emission,Emission Class
0,"[\n06/2021\n, \n99 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6\n]",[\n99 g CO2/km (comb)\n],[\nEuro 6\n]
1,NaN,NaN,[\n129 g CO2/km (comb)\n],[\nEuro 6\n]
2,NaN,NaN,[\n99 g CO2/km (comb)\n],[\nEuro 6\n]
3,NaN,NaN,[\n99 g CO2/km (comb)\n],[\nEuro 6\n]
4,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]",[\n109 g CO2/km (comb)\n],[\nEuro 6\n]

In [53]:
df[["Next Inspection","Inspection new", 'CO2 Emission', 'Emission Class']].isnull().sum()

Next Inspection    12384
Inspection new     11987
CO2 Emission        1808
Emission Class      3021
dtype: int64

In [ ]:
df[["Next Inspection","Inspection new", 'CO2 Emission', 'Emission Class']].sample(10)

,Next Inspection,Inspection new,CO2 Emission,Emission Class
10770,"[\n12/2019\n, \n130 g CO2/km (comb)\n]",NaN,[\n130 g CO2/km (comb)\n],[\nEuro 6\n]
9905,"[\n03/2022\n, \n140 g CO2/km (comb)\n]",NaN,[\n140 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n]
2828,NaN,NaN,[\n99 g CO2/km (comb)\n],[\nEuro 6\n]
8286,NaN,"[\nYes\n, \n, 4.7 l/100 km (comb), \n, 5.8 l/1...",[\n110 g CO2/km (comb)\n],NaN
13244,NaN,NaN,NaN,NaN
10306,NaN,NaN,[\n124 g CO2/km (comb)\n],NaN
5842,NaN,NaN,[\n130 g CO2/km (comb)\n],[\nEuro 6\n]
5639,NaN,\nYes\n,[\n114 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n]
9846,"[\n03/2020\n, \n140 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6d-TEMP\n]",[\n140 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n]
13366,NaN,NaN,[\n92 g CO2/km (comb)\n],[\nEuro 6\n]

In [54]:
df[["Next Inspection","Inspection new", 'CO2 Emission', 'Emission Class',"First Registration"]].sample(10)
#baska yil ile baglanti kurulmali

,Next Inspection,Inspection new,CO2 Emission,Emission Class,First Registration
6613,NaN,NaN,[\n130 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],"[\n, 2018, \n]"
8347,NaN,\nYes\n,[\n140 g CO2/km (comb)\n],[\nEuro 6\n],"[\n, 2018, \n]"
7960,NaN,NaN,"[[], [], []]",[\nEuro 6\n],"[\n, 2019, \n]"
3767,"[\n02/2021\n, \n99 g CO2/km (comb)\n]",NaN,[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[\n, 2017, \n]"
1807,"[\n06/2021\n, \n97 g CO2/km (comb)\n]",NaN,[\n97 g CO2/km (comb)\n],[\nEuro 6\n],"[\n, 2018, \n]"
4998,NaN,NaN,[\n103 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],"[\n, 2019, \n]"
5614,NaN,NaN,[\n124 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],NaN
213,NaN,"[\nYes\n, \n102 g CO2/km (comb)\n]",[\n102 g CO2/km (comb)\n],[\nEuro 6\n],"[\n, 2016, \n]"
6709,NaN,NaN,[\n104 g CO2/km (comb)\n],[\nEuro 6\n],"[\n, 2018, \n]"
4780,"[\n06/2021\n, \n116 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6d-TEMP\n]",[\n116 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],"[\n, 2018, \n]"

In [57]:
df[["Next Inspection","Warranty","Inspection new", "CO2 Emission", "Emission Class"]].sample(10)

,Next Inspection,Warranty,Inspection new,CO2 Emission,Emission Class
7040,NaN,"[\n, \n, \nEuro 6\n]","[\nYes\n, \n115 g CO2/km (comb)\n]",[\n115 g CO2/km (comb)\n],[\nEuro 6\n]
13339,NaN,NaN,NaN,[\n126 g CO2/km (comb)\n],[\nEuro 6\n]
13993,NaN,NaN,NaN,NaN,"[[], [], []]"
1655,"[\n05/2021\n, \n0 kWh/100 km (comb)\n]","[\n12 months\n, \n102 g CO2/km (comb)\n]",NaN,[\n102 g CO2/km (comb)\n],NaN
12264,NaN,"[\n, \n, \n133 g CO2/km (comb)\n]",NaN,[\n133 g CO2/km (comb)\n],[\nEuro 6\n]
11445,"[\n07/2018\n, \n134 g CO2/km (comb)\n]","[\n, \n, \n4 (Green)\n]","[\nYes\n, \nEuro 6\n]",[\n134 g CO2/km (comb)\n],[\nEuro 6\n]
9650,NaN,"[\n, \n, \n142 g CO2/km (comb)\n]",NaN,[\n142 g CO2/km (comb)\n],[\nEuro 6c\n]
3405,NaN,NaN,NaN,[\n119 g CO2/km (comb)\n],[\nEuro 6\n]
9925,\n03/2023\n,NaN,NaN,"[[], [], []]",NaN
11821,"[\n06/2021\n, \n148 g CO2/km (comb)\n]","[\n, \n, \n4 (Green)\n]","[\nYes\n, \nEuro 6\n]",[\n148 g CO2/km (comb)\n],[\nEuro 6\n]

In [ ]:
df.Warranty.isnull().sum()

5420

In [ ]:
df.Warranty.unique

<bound method Series.unique of 0                 [\n, \n, \n4 (Green)\n]
1                                     NaN
2        [\n, \n, \n99 g CO2/km (comb)\n]
3                                     NaN
4                    [\n, \n, \nEuro 6\n]
                       ...
15914                       \n24 months\n
15915                [\n, \n, \nEuro 6\n]
15916             [\n, \n, \n4 (Green)\n]
15917                                  \n
15918                                 NaN
Name: Warranty, Length: 15919, dtype: object>

In [ ]:
df[["Next Inspection","Warranty","Inspection new", "CO2 Emission", "Emission Class"]].sample(10)

,Next Inspection,Warranty,Inspection new,CO2 Emission,Emission Class
5368,NaN,NaN,NaN,NaN,NaN
15231,NaN,"[\n, \n, \n120 g CO2/km (comb)\n]",NaN,[\n120 g CO2/km (comb)\n],[\nEuro 6\n]
3418,NaN,NaN,NaN,[\n99 g CO2/km (comb)\n],[\nEuro 6\n]
8943,NaN,NaN,"[\nYes\n, \nEuro 6\n]",NaN,[\nEuro 6\n]
7249,NaN,"[\n, \n, \nEuro 6\n]","[\nYes\n, \n128 g CO2/km (comb)\n]",[\n128 g CO2/km (comb)\n],[\nEuro 6\n]
15594,NaN,"[\n, \n, \n4 (Green)\n]","[\nYes\n, \nEuro 6d-TEMP\n]",[\n135 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n]
6023,NaN,\n12 months\n,NaN,[\n104 g CO2/km (comb)\n],[\nEuro 6\n]
13476,NaN,\n12 months\n,NaN,NaN,NaN
15249,NaN,"[\n, \n, \n123 g CO2/km (comb)\n]",NaN,[\n123 g CO2/km (comb)\n],[\nEuro 6\n]
1018,NaN,NaN,"[\nYes\n, \n123 g CO2/km (comb)\n]",[\n123 g CO2/km (comb)\n],[\nEuro 6\n]

In [ ]:
df.Warranty.isnull().sum()

5420

In [ ]:
df.Warranty.value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, \n, \nEuro 6\n]                                                                               1868
\n12 months\n                                                                                      1177
\n                                                                                                  979
\n24 months\n                                                                                       566
[\n, \n, \n4 (Green)\n]                                                                             517
                                                                                                   ...
[\n72 months\n, \n125 g CO2/km (comb)\n]                                                              1
[\n60 months\n, \n14 g CO2/km (comb)\n]                                                               1
[\n24 months\n, \n121 g CO2/km (comb)\n]                                                              1
[\n12 months\n, \nEuro 6d\n]                                                                          1
[\n36 months\n, \n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]       1
Name: Warranty, Length: 515, dtype: int64

In [ ]:
df["Full Service"].unique

<bound method Series.unique of 0                                [\n, \n]
1                                     NaN
2                                     NaN
3        [\n, \n, \n99 g CO2/km (comb)\n]
4                 [\n, \n, \n4 (Green)\n]
                       ...
15914                                 NaN
15915                                 NaN
15916                            [\n, \n]
15917                                 NaN
15918                                 NaN
Name: Full Service, Length: 15919, dtype: object>

In [ ]:
df["Full Service"].value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, \n, \n4 (Green)\n]                                                                       2235
[\n, \n, \nEuro 6\n]                                                                          2097
[\n, \n]                                                                                      1702
[\n, \n, \nEuro 6d-TEMP\n]                                                                     399
\n                                                                                             283
                                                                                              ...
[\n, \n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]           1
[\n, \n, \n84 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n87 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.9 l/100 km (country), \n]       1
[\n, \n, \nEuro 4\n]                                                                             1
Name: Full Service, Length: 122, dtype: int64

In [ ]:
df[["Full Service","Warranty","Inspection new", "CO2 Emission", "Emission Class"]].sample(10)

,Full Service,Warranty,Inspection new,CO2 Emission,Emission Class
2161,NaN,"[\n36 months\n, \n110 g CO2/km (comb)\n]",NaN,[\n110 g CO2/km (comb)\n],[\nEuro 6\n]
9880,"[\n, \n, \n4 (Green)\n]","[\n, \n, \nEuro 6d-TEMP\n]","[\nYes\n, \n150 g CO2/km (comb)\n]",[\n150 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n]
8243,NaN,"[\n, \n, \n110 g CO2/km (comb)\n]",NaN,[\n110 g CO2/km (comb)\n],[\nEuro 6\n]
6900,NaN,\n12 months\n,NaN,NaN,NaN
6628,"[\n, \n, \nEuro 6\n]","[\n, \n, \n119 g CO2/km (comb)\n]",NaN,[\n119 g CO2/km (comb)\n],[\nEuro 6\n]
7282,"[\n, \n, \n4 (Green)\n]","[\n, \n, \nEuro 6\n]",NaN,[\n127 g CO2/km (comb)\n],[\nEuro 6\n]
10990,NaN,\n12 months\n,NaN,NaN,NaN
13592,NaN,\n12 months\n,NaN,[\n85 g CO2/km (comb)\n],[\nEuro 6\n]
12560,"[\n, \n, \n4 (Green)\n]","[\n24 months\n, \nEuro 6d-TEMP\n]","[\nYes\n, \n187 g CO2/km (comb)\n]",[\n187 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n]
10782,NaN,NaN,NaN,[\n132 g CO2/km (comb)\n],[\nEuro 5\n]

In [ ]:
df[["Full Service","Warranty","Inspection new", "CO2 Emission", "Emission Class","Emission Label"]].sample(10)

,Full Service,Warranty,Inspection new,CO2 Emission,Emission Class,Emission Label
10973,NaN,NaN,"[\nYes\n, \n132 g CO2/km (comb)\n]",[\n132 g CO2/km (comb)\n],[\nEuro 6\n],[\n4 (Green)\n]
12476,"[\n, \n, \nEuro 6d-TEMP\n]","[\n, \n, \n156 g CO2/km (comb)\n]",NaN,[\n156 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],NaN
7725,"[\n, \n, \nEuro 6d\n]",NaN,"[\nYes\n, \n138 g CO2/km (comb)\n]",[\n138 g CO2/km (comb)\n],NaN,NaN
10003,NaN,NaN,NaN,[\n140 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],[\n4 (Green)\n]
6598,NaN,\n,NaN,[\n126 g CO2/km (comb)\n],[\nEuro 6\n],[\n4 (Green)\n]
5655,NaN,NaN,NaN,[\n121 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],[\n4 (Green)\n]
4306,"[\n, \n, \n4 (Green)\n]",NaN,NaN,NaN,"[[], [], []]",[\n4 (Green)\n]
13925,NaN,NaN,NaN,[\n90 g CO2/km (comb)\n],[\nEuro 6\n],NaN
5828,"[\n, \n]",NaN,NaN,[\n124 g CO2/km (comb)\n],[\nEuro 6\n],NaN
1268,NaN,NaN,NaN,[\n97 g CO2/km (comb)\n],[\nEuro 6\n],NaN

In [ ]:
df["Full Service"].value_counts

<bound method IndexOpsMixin.value_counts of 0                                [\n, \n]
1                                     NaN
2                                     NaN
3        [\n, \n, \n99 g CO2/km (comb)\n]
4                 [\n, \n, \n4 (Green)\n]
                       ...
15914                                 NaN
15915                                 NaN
15916                            [\n, \n]
15917                                 NaN
15918                                 NaN
Name: Full Service, Length: 15919, dtype: object>

In [ ]:
df["Full Service"].isnull().sum()

7704

In [ ]:
df["Emission Label"].isnull().sum()

11934

In [ ]:
df["Emission Label"].value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n4 (Green)\n]         3553
[\n1 (No sticker)\n]     381
[[], [], []]              40
[\n5 (Blue)\n]             8
[\n3 (Yellow)\n]           2
[\n2 (Red)\n]              1
Name: Emission Label, dtype: int64

In [ ]:
df["Non-smoking Vehicle"]

0                       [\n, \n]
1                            NaN
2                            NaN
3           [\n, \n, \nEuro 6\n]
4                       [\n, \n]
                  ...
15914                        NaN
15915    [\n, \n, \n4 (Green)\n]
15916                   [\n, \n]
15917                        NaN
15918                        NaN
Name: Non-smoking Vehicle, Length: 15919, dtype: object

In [ ]:
df["Non-smoking Vehicle"].isnull().sum()

8742

In [ ]:
df.null.describe()

count     15919
unique        1
top          []
freq      15919
Name: null, dtype: object

In [ ]:
df[["Make","Model", "make_model"]].sample(10)

              Make               Model      make_model
15296  \nRenault\n    [\n, Espace, \n]  Renault Espace
12878     \nOpel\n  [\n, Insignia, \n]   Opel Insignia
12086     \nOpel\n  [\n, Insignia, \n]   Opel Insignia
6781      \nOpel\n     [\n, Astra, \n]      Opel Astra
12873     \nOpel\n  [\n, Insignia, \n]   Opel Insignia
988       \nAudi\n        [\n, A1, \n]         Audi A1
12986     \nOpel\n  [\n, Insignia, \n]   Opel Insignia
8624      \nOpel\n     [\n, Corsa, \n]      Opel Corsa
1228      \nAudi\n        [\n, A1, \n]         Audi A1
15300  \nRenault\n    [\n, Espace, \n]  Renault Espace

In [ ]:
df.Make.value_counts()

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

In [ ]:
df.Make.isnull().sum()

0

In [ ]:
df.Make.describe()

count        15919
unique           3
top       \nOpel\n
freq          7343
Name: Make, dtype: object

In [ ]:
df.Make.nunique

<bound method IndexOpsMixin.nunique of 0           \nAudi\n
1           \nAudi\n
2           \nAudi\n
3           \nAudi\n
4           \nAudi\n
            ...
15914    \nRenault\n
15915    \nRenault\n
15916    \nRenault\n
15917    \nRenault\n
15918    \nRenault\n
Name: Make, Length: 15919, dtype: object>

In [ ]:
df.Make.unique()

array(['\nAudi\n', '\nOpel\n', '\nRenault\n'], dtype=object)

In [ ]:
df.Model.unique

<bound method Series.unique of 0            [\n, A1, \n]
1            [\n, A1, \n]
2            [\n, A1, \n]
3            [\n, A1, \n]
4            [\n, A1, \n]
               ...
15914    [\n, Espace, \n]
15915    [\n, Espace, \n]
15916    [\n, Espace, \n]
15917    [\n, Espace, \n]
15918    [\n, Espace, \n]
Name: Model, Length: 15919, dtype: object>

In [ ]:
df.Model.nunique

<bound method IndexOpsMixin.nunique of 0            [\n, A1, \n]
1            [\n, A1, \n]
2            [\n, A1, \n]
3            [\n, A1, \n]
4            [\n, A1, \n]
               ...
15914    [\n, Espace, \n]
15915    [\n, Espace, \n]
15916    [\n, Espace, \n]
15917    [\n, Espace, \n]
15918    [\n, Espace, \n]
Name: Model, Length: 15919, dtype: object>

In [ ]:
df.Model.isnull().sum()

0

In [ ]:
df.Model.value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: Model, dtype: int64

In [ ]:
df["Offer Number"].unique

<bound method Series.unique of 0             [\nLR-062483\n]
1                         NaN
2              [\nAM-95365\n]
3                         NaN
4                 [\nC1626\n]
                 ...
15914          [\n10988301\n]
15915       [\n507370_3223\n]
15916          [\nEspace16\n]
15917           [\n2691331\n]
15918    [\nRe_30000008029\n]
Name: Offer Number, Length: 15919, dtype: object>

In [ ]:
df["Offer Number"].isnull().sum()

3175

In [ ]:
df["First Registration"].unique #zaten bakmistik bahsettik yukarda

<bound method Series.unique of 0        [\n, 2016, \n]
1        [\n, 2017, \n]
2        [\n, 2016, \n]
3        [\n, 2016, \n]
4        [\n, 2016, \n]
              ...
15914               NaN
15915    [\n, 2019, \n]
15916    [\n, 2019, \n]
15917    [\n, 2019, \n]
15918    [\n, 2019, \n]
Name: First Registration, Length: 15919, dtype: object>

In [ ]:
df["First Registration"].isnull().sum()

1597

In [55]:
df["First Registration"].value_counts()

[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
Name: First Registration, dtype: int64

In [56]:
df["First Registration"] = df["First Registration"].str[1].astype(float)
df["First Registration"]

0       2016.000
1       2017.000
2       2016.000
3       2016.000
4       2016.000
          ...
15914        NaN
15915   2019.000
15916   2019.000
15917   2019.000
15918   2019.000
Name: First Registration, Length: 15919, dtype: float64

In [ ]:
df["Body Color"].unique

<bound method Series.unique of 0        [\n, Black, \n]
1          [\n, Red, \n]
2        [\n, Black, \n]
3        [\n, Brown, \n]
4        [\n, Black, \n]
              ...
15914     [\n, Grey, \n]
15915     [\n, Grey, \n]
15916    [\n, White, \n]
15917     [\n, Grey, \n]
15918     [\n, Grey, \n]
Name: Body Color, Length: 15919, dtype: object>

In [ ]:
df["Body Color"].value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: Body Color, dtype: int64

In [ ]:
df[["Body Color","Body Color Original","Paint Type"]].sample(10)

             Body Color                 Body Color Original      Paint Type
6838     [\n, Grey, \n]                    [\nQuarz Grau\n]  [\nMetallic\n]
9273     [\n, Blue, \n]                          [\nAzul\n]  [\nMetallic\n]
1590    [\n, White, \n]                [\nGletscherweiss\n]  [\nMetallic\n]
15663               NaN                                 NaN             NaN
524     [\n, Black, \n]                                 NaN             NaN
12884    [\n, Grey, \n]                    [\nLicht Grau\n]             NaN
4484    [\n, Black, \n]                         [\nNegro\n]  [\nMetallic\n]
9907   [\n, Silver, \n]  [\nargon silber/ice silver (m2)\n]  [\nMetallic\n]
14550               NaN     [\nMetallic o. Uni (wählbar)\n]  [\nMetallic\n]
6798    [\n, Black, \n]                                 NaN  [\nMetallic\n]

In [ ]:
df[["Body Color","Body Color Original","Paint Type"]].isnull().sum()

Body Color              597
Body Color Original    3759
Paint Type             5772
dtype: int64

In [ ]:
df["Paint Type"].unique

<bound method Series.unique of 0        [\nMetallic\n]
1                   NaN
2        [\nMetallic\n]
3        [\nMetallic\n]
4        [\nMetallic\n]
              ...
15914    [\nMetallic\n]
15915    [\nMetallic\n]
15916               NaN
15917               NaN
15918    [\nMetallic\n]
Name: Paint Type, Length: 15919, dtype: object>

In [ ]:
df["Paint Type"].isnull().sum()

5772

In [ ]:
#dfmax=dfc["salary_estimate"].apply(lambda a:float(a.split("-")[1].split()[0].strip("$K"))*1000)

In [ ]:
df["Paint Type"].value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nMetallic\n]       9794
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: Paint Type, dtype: int64

In [ ]:
Body Color Original

SyntaxError: ignored

In [ ]:
df["Body Color Original"].isnull().sum()

In [ ]:
df["Body Color Original"].value_counts()

In [ ]:
df["Upholstery"].value_counts()

In [ ]:
df["Upholstery"].isnull().sum()

In [ ]:
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code

In [ ]:
df["Body"].value_counts()

In [ ]:
df["Body"].isnull().sum()

In [ ]:
df["Nr. of Doors"].isnull().sum()

In [ ]:
df["Nr. of Doors"].value_counts()

In [ ]:
df["Nr. of Seats"].isnull().sum()

In [ ]:
df["Nr. of Seats"].value_counts()

In [ ]:
Model Code

In [ ]:
df["Model Code"].value_counts()

In [ ]:
df["Model Code"].isnull().sum()

In [ ]:
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel

In [ ]:
df["Gearing Type"].isnull().sum()

In [ ]:
df["Gearing Type"].value_counts()

In [ ]:
df["Displacement"].isnull().sum()

In [ ]:
df["Displacement"].value_counts()

In [ ]:
df.isnull().sum()*100/df.shape[0]

**Missing Value Fonk**

In [ ]:
def missing (df):  
    missing_number = df.isnull().sum().sort_values(ascending=False)    
    missing_percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)    
    missing_values = pd.concat([missing_number, missing_percent], axis=1, keys=['Missing_Number', 'Missing_Percent'])
    return missing_values

missing(df)

In [ ]:
df[["make_model","Make","Model"]].sample(15)
#make model diger ikisini bilgilerini icerdigi icin diger ikisi dusurulmelidir

In [ ]:
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Fuel                               0.000000
Consumption                       11.973114
CO2 Emission                      11.357497
Emission Class                    18.977323
\nComfort & Convenience\n          5.779257
\nEntertainment & Media\n

In [ ]:
df.sample(15).T

In [ ]:
df["Cylinders"].value_counts()

In [ ]:
df["Cylinders"].isnull().sum()

In [ ]:
df["Weight"].value_counts()

In [ ]:
df["Weight"].isnull().sum()

In [ ]:
df["Drive chain"].value_counts()

In [ ]:
df["Drive chain"].isnull().sum()

In [ ]:
df

In [ ]:
df["Fuel"].value_counts()

In [ ]:
df["Fuel"].isnull().sum()

In [ ]:
df["Consumption"].value_counts()

In [ ]:
df["Consumption"].isnull().sum()

In [ ]:
df[["Full Service","Warranty","Inspection new", "CO2 Emission", "Emission Class","Emission Label","Consumption"]].sample(10)#baglantili cikmadi

In [ ]:
df[["Cylinders","Consumption"]].sample()

In [ ]:
df["Co2 emission"].isnull().sum()

In [ ]:
df["\nComfort & Convenience\n"].value_counts()

In [ ]:
df.T

In [ ]:
df["\nComfort & Convenience\n"].isnull().sum()

In [ ]:
df["\nComfort & Convenience\n"].value_counts()

In [ ]:
df["\nEntertainment & Media\n"].isnull().sum()

In [ ]:
df["\nEntertainment & Media\n"].value_counts()

In [ ]:
df["\nExtras\n"].isnull().sum()

In [ ]:
df["\nExtras\n"].value_counts()

In [ ]:
df["\nSafety & Security\n"].isnull().sum()

In [ ]:
df["\nSafety & Security\n"].value_counts()

In [ ]:
df["description"].isnull().sum()

In [ ]:
df["description"].value_counts()

In [ ]:
df["Emission Label"].isnull().sum()

In [ ]:
df["Emission Label"].value_counts()

In [ ]:
df["Gears"].isnull().sum()

In [ ]:
df["Gears"].value_counts()

In [ ]:
df["Country version"].isnull().sum()

In [ ]:
df["Country version"].value_counts()

In [ ]:
df["Electricity consumption"].isnull().sum()

In [ ]:
df["Electricity consumption"].value_counts()

In [ ]:
df["Last Service Date"].isnull().sum()

In [ ]:
df["Last Service Date"].value_counts()

In [ ]:
df["Other Fuel Types"].isnull().sum()

In [ ]:
df["Other Fuel Types"].value_counts()

In [ ]:
df["Availability"].isnull().sum()

In [ ]:
df["Availability"].value_counts()

In [ ]:
df["Last Timing Belt Service Date"].isnull().sum()

In [ ]:
df["Last Timing Belt Service Date"].value_counts()

In [ ]:
df["Available from"].isnull().sum()

In [ ]:
df["Available from"].value_counts()

In [64]:
df["Available from"].str.strip("\n")

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
15914    NaN
15915    NaN
15916    NaN
15917    NaN
15918    NaN
Name: Available from, Length: 15919, dtype: object

## Import Libraries and Data

In [ ]:
df_dummied.to_csv("final_scout_dummy.csv", index=False)

In [ ]:
df.to_csv("final_scout_not_dummy.csv", index=False)