___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

# WELCOME!

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

The project consists of 3 parts:
* First part is related with 'data cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, Dropping useless columns.
* Second part is related with 'filling data'. It deals with Missing Values. Categorical to numeric transformation is done.
* Third part is related with 'handling outliers of data' via Visualisation libraries. Some insights are extracted.

# PART- 1 `( Data Cleaning )`

In [1]:
import json
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
from pylab import rcParams
sns.set_style("darkgrid")

import plotly 
import plotly.express as px
import plotly.graph_objs as go
import plotly.offline as py
from plotly.offline import iplot
from plotly.subplots import make_subplots
import plotly.figure_factory as ff

import warnings
warnings.filterwarnings("ignore")

In [2]:
scout_car = pd.read_json ('scout_car.json', lines = True)
df = scout_car.copy()
df.sample(3)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
10271,https://www.autoscout24.com//offers/opel-corsa...,Opel Corsa,E 1.2 Selection IntelliLink Sitzhzg Tempomat,Compact,10690,VAT deductible,5 km,04/2019,1 previous owner,NaN,...,"[\n, TAGESZULASSUNG, !, - INKLUSIVE ÜBERFÜHRUN...",NaN,[\n5\n],[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
2352,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback advanced 30 TFSI UPE 32.340 EUR,Compact,28980,VAT deductible,- km,-/-,None,NaN,...,"[\n, Ausstattungspakete:, Lichtpaket, Nichtra...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
7107,https://www.autoscout24.com//offers/opel-astra...,Opel Astra,1.4 Turbo ''ON'' Automatik / Navi / Kamera A,Sedans,18580,VAT deductible,"24,782 km",08/2018,1 previous owner,NaN,...,"[\n, Klimaanlage, Navigation, Start/Stop-Autom...",NaN,NaN,NaN,NaN,NaN,"[[], [], []]",NaN,NaN,NaN

In [ ]:
#df = pd.read_json('scout_car.json') #lines olmayınca çalışmıyor.

In [3]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

## Coloms intro view

In [4]:
df.url

0        https://www.autoscout24.com//offers/audi-a1-sp...
1        https://www.autoscout24.com//offers/audi-a1-1-...
2        https://www.autoscout24.com//offers/audi-a1-sp...
3        https://www.autoscout24.com//offers/audi-a1-1-...
4        https://www.autoscout24.com//offers/audi-a1-sp...
                               ...
15914    https://www.autoscout24.com//offers/renault-es...
15915    https://www.autoscout24.com//offers/renault-es...
15916    https://www.autoscout24.com//offers/renault-es...
15917    https://www.autoscout24.com//offers/renault-es...
15918    https://www.autoscout24.com//offers/renault-es...
Name: url, Length: 15919, dtype: object

In [5]:
df.make_model

0               Audi A1
1               Audi A1
2               Audi A1
3               Audi A1
4               Audi A1
              ...
15914    Renault Espace
15915    Renault Espace
15916    Renault Espace
15917    Renault Espace
15918    Renault Espace
Name: make_model, Length: 15919, dtype: object

In [12]:
df.make_model.isnull().sum()

0

In [11]:
df.make_model.value_counts()

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [13]:
df.short_description

0              Sportback 1.4 TDI S-tronic Xenon Navi Klima
1                                           1.8 TFSI sport
2        Sportback 1.6 TDI S tronic Einparkhilfe plus+m...
3                                  1.4 TDi Design S tronic
4        Sportback 1.4 TDI S-Tronic S-Line Ext. admired...
                               ...
15914                Blue dCi 200CV EDC Executive 4Control
15915                  TCe 225 EDC GPF LIM Deluxe Pano,RFK
15916    Blue dCi 200 EDC Initiale Paris Leder LED Navi...
15917    Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...
15918          INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX
Name: short_description, Length: 15919, dtype: object

In [14]:
df.short_description.value_counts()

SPB 1.6 TDI 116 CV S tronic Sport                 64
1.4 66kW (90CV) Selective                         40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH             38
SPB 30 TDI S tronic Business                      35
SPB 30 TFSI S tronic Admired                      35
                                                  ..
K Sports Tourer Business **Navi*Voll**             1
1.0 Turbo ecoFLEX Automatic Elective Park Navi     1
1.6 CDTI Business *Navi*Automatik*Spurh.*          1
1.6 136 CV Automatica Navi E 6 Garanzia Full       1
TCe 225 EDC GPF LIM Deluxe Pano,RFK                1
Name: short_description, Length: 10001, dtype: int64

In [16]:
df.short_description.isnull().value_counts()

False    15873
True        46
Name: short_description, dtype: int64

In [18]:
df.body_type

0        Sedans
1        Sedans
2        Sedans
3        Sedans
4        Sedans
          ...
15914       Van
15915       Van
15916       Van
15917       Van
15918       Van
Name: body_type, Length: 15919, dtype: object

In [19]:
df.body_type.value_counts()

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [20]:
df.body_type.isnull().value_counts()

False    15859
True        60
Name: body_type, dtype: int64

In [21]:
df.price.value_counts()

14990    154
15990    151
10990    139
15900    106
17990    102
        ...
17559      1
17560      1
17570      1
17575      1
39875      1
Name: price, Length: 2956, dtype: int64

In [22]:
df.price.isnull().value_counts()

False    15919
Name: price, dtype: int64

In [23]:
df.vat.value_counts()

VAT deductible      10980
Price negotiable      426
Name: vat, dtype: int64

In [ ]:
def check_col(df,check_col):
    print(check_col,", Sumation of isnull :",df[check_col].isnull().sum())
    print("-----------------")
    print( "Samples for",check_col, "\n", df[check_col].sample(10))
    print("-----------------")
    print(check_col, "Value_counts is", "\n",df[check_col].value_counts(dropna=False))

## Import Libraries and Data

In [5]:
df_dummied.to_csv("final_scout_dummy.csv", index=False)

NameError: name 'df_dummied' is not defined

In [6]:
df.to_csv("final_scout_not_dummy.csv", index=False)

NameError: name 'df' is not defined