In [1]:
pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-4.0.32-cp39-cp39-win_amd64.whl (72 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.32
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\PORXELEK\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [2]:
import pyodbc

In [3]:
def create_server_connection(driver, server, database, user, password):
    conn = None
    try:
        conn = pyodbc.connect(DRIVER = driver, SERVER= server, DATABASE = database, UID= user, PWD= password)
        print("Successfull")
    except Error as err:
        print(f"Error:'{err}'")
    return conn

In [5]:
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

In [6]:
conn_string = "driver={ODBC Driver 17 for SQL Server}; server=localhost; database=master; TRUSTED_CONNECTION=yes;"

In [7]:
conn = pyodbc.connect(conn_string)

In [8]:
crs = conn.cursor()

In [9]:
conn.autocommit = True

CREATE DATAbase

In [10]:
def create_database(conn, create_database_query): #parametreler: connection nesnesi ve query nesnesi
    crs = conn.cursor() #bir cursor nesnesi oluşturuyoruz. bunu query sonucundaki değerleri yakalamak için kullanacağız.
    try:
        crs.execute(create_database_query)#query'yi çalıştır sonucu yakala. queryleri excecute ile çalıştırıyoruz
        print("Database is Created Successfuly")
    except Error as err:
            print(f"Error:'{err}'")

In [11]:
create_database_query = 'CREATE DATABASE TestB '

In [12]:
create_database(conn, create_database_query)

Database is Created Successfuly

In [13]:
query = 'USE TestB '

In [14]:
crs.execute(query)

In [15]:
def execute_query(conn, query):
    crs = conn.cursor()
    try:
        crs.execute(query)
        conn.commit()
        print("Query Succeessful!")
    except Error as err:
        print(f"Error:'{err}'")

In [16]:
execute_query(conn, query)

Query Succeessful!

In [17]:
query = 'CREATE TABLE TestTable (\
           ID INT IDENTITY (1,1) NOT NULL, \
           FirstName VARCHAR(255) NOT NULL,\
           LastName VARCHAR(255) NOT NULL,\
           PRIMARY KEY(ID))'

In [18]:
execute_query(conn, query)

Query Succeessful!

In [19]:
##INSERT

In [20]:
crs.execute("INSERT TestTable (FirstName, LastName) VALUES('Bob', 'Marley')")

In [21]:
crs.execute("INSERT TestTable (FirstName, LastName) VALUES(?, ?)", 'Bruce', 'Lee')

In [22]:
crs.execute("INSERT TestTable (FirstName, LastName) VALUES (?,?)",'Tom', 'Cat')
crs.execute("INSERT TestTable (FirstName, LastName) VALUES (?,?)",'Jerry', 'Mouse')
crs.execute("INSERT TestTable (FirstName, LastName) VALUES (?,?)",'Owen', 'William')
crs.execute("INSERT TestTable (FirstName, LastName) VALUES (?,?)",'Stefan', 'Müller')

In [24]:
crs.execute("DELETE FROM TestTable WHERE FirstName = 'Jerry'")

In [26]:
crs.execute('SELECT FirstName,LastName FROM TestTable')
row =crs.fetchone()
row

('Bob', 'Marley')

In [28]:
crs.execute('SELECT FirstName,LastName FROM TestTable')
row =crs.fetchmany(3)
row

[('Bob', 'Marley'), ('Bruce', 'Lee'), ('Tom', 'Cat')]

In [29]:
crs.execute('SELECT FirstName,LastName FROM TestTable')
row =crs.fetchall()
row

[('Bob', 'Marley'),
 ('Bruce', 'Lee'),
 ('Tom', 'Cat'),
 ('Owen', 'William'),
 ('Stefan', 'Müller')]

In [30]:
import pandas as pd

In [31]:
crs.execute('SELECT FirstName,LastName FROM TestTable')
result =crs.fetchall()
result

[('Bob', 'Marley'),
 ('Bruce', 'Lee'),
 ('Tom', 'Cat'),
 ('Owen', 'William'),
 ('Stefan', 'Müller')]

In [33]:
df = pd.DataFrame(result)
df

                  0
0     [Bob, Marley]
1      [Bruce, Lee]
2        [Tom, Cat]
3   [Owen, William]
4  [Stefan, Müller]

In [34]:
a = []

for result in result:
    result = list(result)
    a.append(result)

In [35]:
a

[['Bob', 'Marley'],
 ['Bruce', 'Lee'],
 ['Tom', 'Cat'],
 ['Owen', 'William'],
 ['Stefan', 'Müller']]

In [36]:
query = 'USE SampleRetail'
execute_query(conn, query)

Query Succeessful!

In [38]:
df_prod = pd.read_sql("SELECT * FROM product.product", con =conn)
df_prod.head(8)

ImportError: Missing optional dependency 'SQLAlchemy'.  Use pip or conda to install SQLAlchemy.